.sec__Internas
  .containe
    h1
      -webkit-box-sizing: border-box
      box-sizing: border-box
      padding: 8px 8px 16px
      display: table
      width: 100%
      font-size: 2rem
      line-height: 1.2
      font-weight: 300

.mod__Interna
  .containe
    webkit-display: -webkit-flex
    display: -webkit-flex
    display: flex
    flex-direction: row
    -webkit-flex-direction: row
    -ms-flex-direction: row
    max-width: 1326px
    margin: 2% 7%

    .info__Completa
      h3
        margin-bottom: 8px
        display: block
        font-size: 1.17em
        margin-block-start: 1em
        margin-block-end: 1em
        margin-inline-start: 0
        margin-inline-end: 0
        font-weight: 600

  p
    font-size: 0.9rem
    color: #666
    line-height: 1.1rem

    h2
      color: #da262d
      font-size: 1.3rem !important
      font-weight: 400 !important

.contactoMail
  box-sizing: border-box
  padding: 20px
  border-radius: 5px
  width: 100%
  margin-top: 20px
  margin-bottom: 20px
  margin-left: 9%
  -webkit-box-sizing: border-box
  background: #fff
  max-width: 76%

  label
    font-weight: 200

  h2
    font-weight: 500 !important
    text-align: center

  fieldset
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 20px

  dl
    display: -webkit-flex
    ddisplay: flex
    -webkit-box-direction: row
    -moz-box-direction: row
    -ms-box-direction: row
    -webkit-flex-direction: row
    -ms-flex-direction: row
    margin-bottom: 10px

  dd,
  dt
    width: 50%

  .btn-rojo
    margin: 20px auto 0

  .btn-rojo
    -o-transition: all 0.3s
    -ms-transition: all 0.3s
    transition: all 0.3s
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    margin-bottom: 10px
    background-color: #eb0028
    border: 1px solid #eb0028
    text-decoration: none
    padding: 8px 16px
    color: #fff !important
    font-weight: 300 !important

  .btn-rojo
    border-radius: 50px !important
    font-size: 13px !important
    text-align: center !important
    display: table
    cursor: pointer

  .btn-rojo
    -webkit-transition: all 0.3s
    -moz-transition: all 0.3s

  .btn-rojo.next:after
    content: "\f105"
    font-family: "Font Awesome 5 Free"
    margin-left: 5px
    font-weight: 600

span.select
  position: relative

  &:after
    box-sizing: border-box
    content: "\f078"
    font-family: "Font Awesome 5 Free"
    position: relative
    //left: 430px
    left: (100% - 9%)
    bottom: 31px
    border-left: 1px solid #ddd
    padding: 9px 5px
    pointer-events: none
    font-weight: 600

select
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  margin-top: 6px
  border-radius: initial
  background: #fff

input[type="text"],
input[type="email"],
select,
textarea
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  border: 1px solid #ddd
  font-size: 0.9rem
  color: #666
  padding: 8px !important
  font-weight: 300

textarea
  resize: none
  min-width: auto
  width: 100%
  min-height: 100px
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif!important

@media only screen and (max-width: 760px)
  .contactoMail dl
    flex-direction: column
    -webkit-box-direction: column
    -moz-box-direction: column
    -ms-box-direction: column
    -webkit-flex-direction: column
    -ms-flex-direction: column

  .contactoMail dd, .contactoMail dt
    width: 100%

  .contactoMail label
    margin-bottom: 5px
    display: block

@media only screen and (max-width: 1000px)
  span.select
    position: relative

    &:after
      box-sizing: border-box
      content: "\f078"
      font-family: "Font Awesome 5 Free"
      position: relative
      //left: 430px
      left: (95% - 9%)
      bottom: 31px
      border-left: 1px solid #ddd
      padding: 9px 5px
      pointer-events: none
      font-weight: 600