.carruselesNewH
    width: 95%
    max-width: 1480px!important
    margin: 0 auto
    padding-top: 0

    h2
        font-size: 20px!important
        text-transform: uppercase
        color: #000
        padding-top: .75rem
        padding-bottom: .75rem
        font-weight: 700
        border-bottom: 2px solid #EB0028
        margin-bottom: 20px

    .rowProductos
        width: 100%
        overflow: hidden
        padding-bottom: 63px
        margin-bottom: -63px
        padding-top: 13px
        margin-top: -13px

        .contProductoSlider
            -webkit-display: -webkit-flex
            display: -webkit-flex
            display: flex
            overflow-x: auto
            overflow-y: hidden
            padding-bottom: 20px

            &:hover button[type="button"]
                opacity: 1

        .contProductoSlider .slick-initialized .slick-slider
            display: block
            -webkit-display: block
            overflow-x: hidden!important
            padding-bottom: 0

            .slick-list
                overflow: visible
                position: relative
                display: block
                overflow: hidden
                margin: 0
                padding: 0

            .slick-slide
                display: block
            .slick-slide
                display: none
                float: left
                height: 100%
                min-height: 1px

        .slick-slider
            position: relative
            display: block
            box-sizing: border-box
            -webkit-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            -webkit-touch-callout: none
            -khtml-user-select: none
            -ms-touch-action: pan-y
            touch-action: pan-y
            -webkit-tap-highlight-color: transparent

            .slick-track
                position: relative
                top: 0
                left: 0
                display: block
                margin-left: auto
                margin-right: auto
                &:before, &:after
                    display: table
                    content: ''

                .productbox
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    background-color: #fff
                    width: 225px
                    min-width: 240px
                    float: left
                    font-weight: 300
                    border: 1px solid #ddd
                    margin: 0 10px

                    .linkProducto
                        background: 0 0
                        display: block
                        width: 100%
                        height: 100%
                        position: absolute
                        top: 0

                    a
                        color: inherit
                        text-decoration: none

                    .descrip
                        width: 100%
                        height: 64px
                        margin: 10px 0
                        overflow: hidden
                        display: block

                        p
                            padding: 15px
                            font-size: 18px
                            color: #333
                            text-align: left
                            line-height: 1.3
                            font-weight: 400

                    img
                        width: 100%
                        height: auto
                        max-height: 240px
                        object-fit: contain

                    .productbox, .productbox .vistaRapida
                        position: relative

                    .vistaRapida .contImgProd
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        height: 240px
                        padding-top: 0
                        img
                            display: table
                            margin: auto
                            max-width: 240px
                            max-height: 240px

            .slick-track, .slick-list
                -webkit-transform: translate3d(0, 0, 0)
                -moz-transform: translate3d(0, 0, 0)
                -ms-transform: translate3d(0, 0, 0)
                -o-transform: translate3d(0, 0, 0)
                transform: translate3d(0, 0, 0)

            .slick-next,
            .slick-prev,
                -webkit-transition: opacity .2s
                -moz-transition: opacity .2s
                -o-transition: opacity .2s
                -ms-transition: opacity .2s
                transition: opacity .2s
                opacity: 0
                width: 42px!important

            .slick-prev, .slick-next
                font-size: 0
                line-height: 0
                position: absolute
                top: 50%
                display: block
                width: 20px
                height: 20px
                padding: 0
                -webkit-transform: translate(0, -50%)
                -ms-transform: translate(0, -50%)
                transform: translate(0, -50%)
                cursor: pointer
                color: transparent
                border: none
                outline: none
                background: transparent

                -webkit-transition: opacity .2s
                -moz-transition: opacity .2s
                -o-transition: opacity .2s
                -ms-transition: opacity .2s
                transition: opacity .2s
                opacity: 0
                width: 42px
                height: 60px!important
                top: 52%
                margin-top: 0
                font-size: 0
                overflow: hidden
                padding: 15px 5px!important
                position: absolute!important
                outline: 0!important
                background-image: none!important
                z-index: 20

                &:before
                    font-family: 'slick'
                    font-size: 20px
                    line-height: 1
                    opacity: .75
                    color: white
                    -webkit-font-smoothing: antialiased
                    -moz-osx-font-smoothing: grayscale
                    content: " "!important
                    display: block
                    width: 32px!important
                    height: 32px!important
                    margin: 0
                    position: relative

            .slick-prev
                left: -25px
                left: 0!important
                border-radius: 0 5px 5px 0!important
                background: rgba(0,0,0,.4)!important
                &::before
                    content: "←"
                    background: url(/img/flecha-back-32px.png) no-repeat!important

            .slick-next
                right: -25px
                right: 0!important
                border-radius: 5px 0 0 5px!important
                background: rgba(0,0,0,.4)!important
                &::before
                    content: "→"
                    background: url(/img/flecha-next-32px.png) no-repeat!important

