.boxBan2
    -webkit-display: -webkit-flex
    display: -webkit-flex
    display: flex
    flex-direction: row
    -webkit-box-direction: row
    -moz-box-direction: row
    -ms-box-direction: row
    -webkit-flex-direction: row
    -ms-flex-direction: row
    flex-wrap: wrap
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
    width: calc(100% + 20px)
    margin-left: -10px
    a 
        max-width: 50%
        margin: 10px -1px
        color: inherit
        text-decoration: none
        overflow: hidden
    a, img
        width: 100%
        position: relative
    img
        margin-bottom: -3px
        margin-left: 10px
        margin-right: 10px
        width: calc(100% - 20px)
    a:hover .mensageBoxBanner
        -webkit-transition: all .3s
        -moz-transition: all .3s
        -o-transition: all .3s
        -ms-transition: all .3s
        transition: all .3s
        -webkit-transform: scale(1)
        -moz-transform: scale(1)
        -ms-transform: scale(1)
        transform: scale(1)
        top: 0
        left: 0
        opacity: 1


