.upperfooter 
  width: 100% !important
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd
  text-align: center

  .boxClaroShop,
  .boxServicioCliente,
  .boxRedes 
    border-right: 1px solid #ddd

  .boxClaroShop,
  .boxServicioCliente,
  .boxRedes,
  .boxContacto 
    display: inline-block
    height: 228px
    padding: 10px 30px 30px
    text-align: left
    vertical-align: top
  
    h4 
      color: #333
      font-size: 0.9rem !important
      padding: 16px 0 !important
    
    h4,
    ul
      margin: 0
      padding: 0
      border: 0
      font: inherit
      font-size: 100%
      vertical-align: baseline

      li 
        color: #555 !important
        font-size: 0.8rem
        padding: 7px 0

        a 
          color: #888 !important
          font-size: 0.8rem !important
          padding: 7px 2px 7px 0 !important
          text-decoration: none          

    ul li a
      color: #555 !important
      font-size: 0.8rem !important
      padding: 7px 2px 7px 0 !important
      text-decoration: none

    ul li a:hover 
      text-decoration: underline
      color: #4990e2 !important
      padding: 7px 0 7px 2px
    
    ul 
      list-style: none 
  
  .boxClaroShop a,
  .boxServicioCliente a,
  .boxContacto a 
    color: inherit
    text-decoration: none
  

  .redesLogos 
    margin-top: 7px
    display: grid

    .sigTitle 
      color: #333
      font-size: 0.9rem
      margin-right: 10px
    
    span,
    ul 
      display: inline-block

      li 
        -webkit-transition: all 0.3s
        transition: all 0.3s
        display: inline-block
        width: 25px
        height: 30px
        background: #aaa
        padding: 5px
        margin: 0 2px
        border-radius: 5px

        &:hover 
          opacity: 0.5
          filter: alpha(opacity=50)
        

        a :before 
          text-align: center !important
          color: #fff
          font-size: 15px
          line-height: 1
        

        &:hover 
          text-align: center
          background: #cacaca
          font-size: 15px
              
    > ul 
      display: inline-block
      overflow: visible !important
    
    ul 
      margin-top: 10px
    
  .boxRedes 
    .downloadApp,
    .certificacionApp 
      margin-top: 30px
      display: block

      .sigTitle 
        font-size: 14px
        font-size: 0.875rem
        color: #333
        text-align: center
        width: 100%;
        display: block
        margin-bottom: 5px
      
      ul 
        max-width: 280px
        display: table
        margin: auto
      
      img 
        width: 80%
        margin: auto
        min-width: 80px
      
      ul li 
        float: left
        width: 50%
      
    
    .certificacionApp 
      margin-top: 15px
    
  .boxClaroShop ul li.icoCha::before,
  .boxServicioCliente ul li.icoCha::before,
  .boxContacto ul li.icoCha::before 
    font-family: " Font Awesome 5 Free"
    margin-right: 5px
  
.clima 
  width: 87px
  height: 68px
  display: block
  border: 1px solid #ddd
  padding: 5px
  border-radius: 5px
  box-sizing: border-box
  margin-top: 10px
  overflow: hidden

  iframe 
    width: 100%
    height: 100%
  
/////responsive
@media only screen and (max-width: 480px) 
  .upperfooter 
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    webkit-display: -webkit-flex !important
    display: -webkit-flex !important
    display: flex !important
    flex-direction: column
    -webkit-box-direction: column
    -moz-box-direction: column
    -ms-box-direction: column
    -webkit-flex-direction: column
    -ms-flex-direction: column
    border-right: 0

  .boxClaroShop,
  .boxRedes 
    border-right: 0 none !important

  .boxRedes 
    order: 3 !important

    h4 
      background: 0 0
      text-align: center
      margin-bottom: 0
      cursor: default
    
    ul 
      max-height: 100% !important
    
  .boxClaroShop,
  .boxContacto,
  .boxRedes,
  .boxServicioCliente 
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    height: auto !important
    padding: 10px 40px !important
    width: 100% !important
    text-align: center !important

    h4 
      background: #ddd !important
      text-align: center
      border-radius: 5px !important
      cursor: pointer
      padding: 16px 0 !important

      &:active + .interno 
        // -webkit-transition: all 0.17s !important;
        // -moz-transition: all 0.17s !important;
        // -o-transition: all 0.17s !important;
        // -ms-transition: all 0.17s !important;
        transition: all 0.37s
        max-height: 100%
        overflow: hidden !important
        display: block !important       

    .interno 
      -webkit-transition: all 0.23s !important
      -moz-transition: all 0.23s !important
      -o-transition: all 0.23s !important
      -ms-transition: all 0.23s !important
      transition: all 0.23s
      max-height: 0
      overflow: hidden !important
      display: none   

  .redesLogos 
    display: block !important

  .porEmail 
    display: none
  
  .clima 
    margin: 50px auto 0 !important
  
  
@media only screen and (max-width: 960px) 
  .upperfooter 
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    border-right: 0
    display: block !important
    webkit-display: block !important
  
  .boxClaroShop,
  .boxServicioCliente 
    height: 160px
  
  .boxRedes 
    order: 0
  
  .boxContacto,
  .boxRedes 
    height: auto !important
  
  .redesLogos 
    margin-top: 10px
    display: inline !important
    position: relative
    top: 20px
  
  .porEmail 
    top: 30px
    position: relative
  
  .boxClaroShop,
  .boxContacto,
  .boxRedes,
  .boxServicioCliente 
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 10px 40px 30px
    width: 49%
    text-align: center !important

    h4 
      background: 0 0
      text-align: center
      margin-bottom: 0
      cursor: default
    
    ul 
      max-height: 100%
      width: auto
    
  .clima 
    margin: 30px auto 0
  
@media only screen and (min-width: 960px) 
  .upperfooter 
    height: 255px
