.sec__Interna
  display: flex
  width: 96%
  left: 50px
  position: sticky

section
  padding: 16px 0

.mod__Interna
  .containers
    webkit-display: -webkit-flex
    display: -webkit-flex
    display: flex
    flex-direction: row
    -webkit-flex-direction: row
    -ms-flex-direction: row
    width: 97%

.contDir
  box-sizing: border-box
  max-width: 400px
  display: block
  text-align: center
  margin-left: auto
  margin-right: auto
  padding-bottom: 20px

  background: #fff
  border-radius: 5px
  margin-bottom: 20px

  h2
    margin-bottom: 10px
    color: #eb0028
    font-size: 1.3em
  p
    font-size: 0.9rem
    color: #666
    line-height: 0.16rem

.contMap
  margin-bottom: 15px
  height: 70vh
  width: 100%
  iframe
    width: 100%
    height: 400px
    border: 0

span.select1
  position: relative

  &:after
    box-sizing: border-box
    content: "\f078"
    font-family: "Font Awesome 5 Free"
    position: relative
    left: 925px !important
    bottom: 31px
    border-left: 1px solid #ddd
    padding: 9px 10px
    pointer-events: none
    font-weight: 600

  .select1
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    margin-top: 6px
    border-radius: initial
    background: #fff
