.ofertasTarjetas
    background-color: #fff
    #descripcion
        font-weight: 100 !important
    .cont-promo
        dl
            padding: 0
            &:last-child dt .arrow
                border-bottom: none
                .viewPromo
                    dd
                        display: block!important

                        dl.tarjetaSears
                            margin: auto
                            dt
                                position: relative
                                &:before
                                    content: ""
                                    position: absolute
                                    width: 38px
                                    height: 26px
                                    top: 15px
                                    left: 15px
                                        // background-image: url(/img/tarjeta_sears.webp)
                                    background-size: cover
                            dt
                                -moz-box-sizing: border-box
                                -webkit-box-sizing: border-box
                                box-sizing: border-box
                                cursor: pointer
                                background-color: #fff
                                padding-left: 70px
                                font-weight: 500
                                color: #000
                                &.arrow
                                    -moz-box-sizing: border-box
                                    -webkit-box-sizing: border-box
                                    box-sizing: border-box
                                    padding: 10px 30px 10px 10px
                                    position: relative
                                    border-bottom: 1px solid #ddd

                                    &:after
                                        content: ""
                                        font-family: "Font Awesome 5 free"
                                        margin-right: 5px
                                        font-size: 16px
                                        color: #acacac
                                        position: absolute
                                        top: 10px
                                        right: 10px
                                        font-weight: 600

                            dd
                                -moz-box-sizing: border-box
                                -webkit-box-sizing: border-box
                                box-sizing: border-box
                                padding: 0 10px 0 90px
                                display: none
                                p
                                    -moz-box-sizing: border-box
                                    -webkit-box-sizing: border-box
                                    box-sizing: border-box
                                    padding: 10px

.mejorOferta
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 10px 0
    height: auto
    overflow: hidden
    font-size: .9rem
    color: #666
    margin: 0 auto
    font-weight: 300
    line-height: 1.6
    word-break: break-word

    .ofertasTarjetas
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        background-color: #fff
        padding: 10px 10px 10px 70px
        position: relative
        margin: 10px 0
        &:before
            content: ""
            font-family: "Font Awesome 5 free"
            position: absolute
            left: 25px
            top: 5px
            font-size: 20px
            font-weight: 600
        .arrow:after 
            content: ""
            font-family: "Font Awesome 5 free"
            margin-right: 5px
            font-size: 16px
            color: #acacac
            position: absolute
            top: 10px
            right: 10px
            font-weight: 600
