@import url('//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.css')
@import url('//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.css')
.media-container
    .slick-arrow
        position: absolute
        // top: 50%
        // z-index: 50
        // margin-top: -12px

        .slick-prev
            left: 0px
            background: blue !important

    .slick-next, .slick-prev
        position: absolute
        font-size: 0
        text-indent: -9999
        text-decoration: none
        display: table
        height: auto!important
        width: 32px!important
        height: 32px!important
        top: 140%!important
        .slick-prev:before, .slick-next:before
            font-family: 'font awesome 5 free'
            font-size: 20px
            line-height: 1
            opacity: .75
            color: #712020
            -webkit-font-smoothing: antialiased
            -moz-osx-font-smoothing: grayscale
    .slick-next
        padding: 0 !important
        &:before
            color: #000 !important
            font-size: 42px !important
            margin-right: 20px
            content: "\f105" !important
            font-family: "Font Awesome 5 free" !important
            font-weight: 600
            margin-right: 220px
            float: right
    .slick-prev
        padding: 0 !important
        &:before
            color: #000 !important
            font-size: 42px !important
            margin-right: -40px
            content: "\f104" !important
            font-family: "Font Awesome 5 free" !important
            font-weight: 600
            margin-left: 190px

.mod__producto, .rowCuadrosProdDetalle
    webkit-display: -webkit-flex
    display: -webkit-flex

.mod__producto, .mod__producto .price-Product .precioProduct
    flex-direction: row
    -webkit-box-direction: row
    -moz-box-direction: row
    -ms-box-direction: row

.contSucursales .titleContent, .mod__producto .viewsNdescrip
    flex-direction: row
    webkit-display: -webkit-flex
    -webkit-box-direction: row
    -moz-box-direction: row
    -ms-box-direction: row

.box_infoTienda .cuadro_LastInfo, .mod__producto .purchaseModule
    webkit-display: -webkit-flex
    -webkit-box-direction: column
    -moz-box-direction: column
    -ms-box-direction: column

.botonesCompra .cantidad, .text-cantidad
    flex-direction: row
    webkit-display: -webkit-flex
    -webkit-box-direction: row
    -moz-box-direction: row
    -ms-box-direction: row
.boxHeart.blueHeart:hover:before, .purchase_btns .fieldset button.btn-compra2
    -webkit-transition: all .3s
    -moz-transition: all .3s
    -o-transition: all .3s
    -ms-transition: all .3s

.bx-slide
    .bx-controls.bx-has-controls-direction .bx-controls-direction .bx-next.disabled,
    .bx-controls.bx-has-controls-direction .bx-controls-direction .bx-prev.disabled,
        display: block

    .bx-controls.bx-has-controls-direction .bx-controls-direction .bx-next.disabled:before,
    .bx-controls.bx-has-controls-direction .bx-controls-direction .bx-prev.disabled:before,
    button.slick-arrow .slick-prev,
    button.slick-arrow .slick-next
        color: rgba(100,100,100,.5)
        cursor: default

///////////////////////////////
.productMainContainer
    margin-top: 16px
    padding-top: 0
    display: block

    .mod__producto
        overflow-x: hidden
        display: flex
        flex-wrap: wrap
        -webkit-box-wrap: wrap
        -webkit-flex-wrap: wrap
        -ms-flex-wrap: wrap
        margin-bottom: 40px
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        -webkit-flex-direction: row
        -ms-flex-direction: row
        margin: auto
        max-width: 100%

        .slidersDetalleProducto
            width: 100%
            margin: 0 auto 50px

            .productosdetalle
                h2
                    color: #666
                    font-size: 1.3rem
                    font-weight: 500
                    padding: 16px 0
                >h2
                    text-transform: uppercase!important
                    color: #000!important
                    padding-top: .75rem!important
                    padding-bottom: .75rem!important
                    font-weight: 700!important
                    border-bottom: 2px solid #CC001E!important
                    margin-bottom: 20px!important
                .slick-initialized
                    .slick-slide
                        display: block
                        float: left
                        height: 100%
                        min-height: 1px
                        img
                            display: block

                .rowCuadrosProdDetalle.slick-initialized
                    display: block
                    overflow: initial

                .rowCuadrosProdDetalle
                    display: flex
                    overflow-x: auto
                    overflow-y: none
                    width: 100%
                    text-align: center

                    &:hover .slick-next,
                    &:hover .slick-prev,
                        -webkit-transition: opacity .2s
                        -moz-transition: opacity .2s
                        -o-transition: opacity .2s
                        -ms-transition: opacity .2s
                        transition: opacity .2s
                        opacity: 1

                    .cuadroImgDetalle
                        color: inherit
                        text-decoration: none
                        width: 100%
                        height: 240px!important
                        margin: 0 auto 80px
                        img
                            width: 100%
                            height: auto
                            margin: 0 auto
                            max-width: 270px
                            min-height: 270px
                            max-height: 270px
                            object-fit: contain
                        span
                            padding: 15px
                            font-size: 18px
                            color: #333
                            text-align: left
                            line-height: 1.3
                            font-weight: 400
                            overflow: hidden
                            display: block
                            // height: 30px

                    .cuadroProdDetalle
                        color: inherit
                        text-decoration: none
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        object-fit: scale-down
                        background-color: #fff
                        display: inline-block
                        width: 18.9%
                        height: 340px
                        max-width: 270px
                        min-width: 270px
                        padding-top: 0
                        border: 1px solid #DDD
                        position: relative
                        vertical-align: top
                        margin: 0 15px

                    .slick-next
                        right: 0 !important
                        opacity: 1
                        width: 42px!important
                        right: -25px
                        border-radius: 5px 0 0 5px !important
                        background: rgba(0,0,0,.6)!important
                        &:hover
                            background-position: 0 -138px!important
                            background: rgba(0,0,0,.8)!important

                        &:before
                            content: '→'
                            background: url(/img/flecha-next-32px.png) no-repeat!important

                    .slick-prev
                        left: 0!important
                        opacity: 1
                        width: 42px!important
                        left: 15px
                        border-radius: 0 5px 5px 0!important
                        background: rgba(0,0,0,.4)!important
                        &:hover
                            background-position: 0 -92px!important
                            background: rgba(0,0,0,.8)!important

                        &:before
                            content: '←'
                            background: url(/img/flecha-back-32px.png) no-repeat!important

                    .slick-prev, .slick-next
                        display: block
                        height: 60px!important
                        padding: 15px 5px!important

                        -webkit-transition: opacity .2s
                        -moz-transition: opacity .2s
                        -o-transition: opacity .2s
                        -ms-transition: opacity .2s
                        transition: opacity .2s
                        font-size: 0
                        line-height: 0
                        position: absolute
                        top: 50%
                        display: block
                        width: 20px
                        height: 20px
                        padding: 0
                        -webkit-transform: translate(0, -50%)
                        -ms-transform: translate(0, -50%)
                        transform: translate(0, -50%)
                        cursor: pointer
                        color: transparent
                        border: none
                        outline: none
                        background: transparent

                        opacity: 0
                        width: 42px
                        height: 60px!important
                        top: 52%
                        margin-top: 0
                        font-size: 0
                        overflow: hidden
                        padding: 15px 5px!important
                        position: absolute!important
                        outline: 0!important
                        background-image: none!important
                        z-index: 20

                        &:hover,
                        &:focus,
                            color: transparent
                            outline: none
                            background: transparent
                        &:hover:before, &:focus:before
                            opacity: 1

                        &:before
                            content: " "!important
                            display: block
                            width: 32px!important
                            height: 32px!important
                            margin: 0
                            position: relative
                            font-family: 'slick'
                            font-size: 20px
                            line-height: 1
                            opacity: .75
                            color: white
                            -webkit-font-smoothing: antialiased
                            -moz-osx-font-smoothing: grayscale

                    .slick-slider
                        position: relative
                        display: block
                        box-sizing: border-box
                        -webkit-user-select: none
                        -moz-user-select: none
                        -ms-user-select: none
                        user-select: none
                        -webkit-touch-callout: none
                        -khtml-user-select: none
                        -ms-touch-action: pan-y
                        touch-action: pan-y
                        -webkit-tap-highlight-color: transparent

                        .slick-track,
                        .slick-list
                            -webkit-transform: translate3d(0, 0, 0)
                            -moz-transform: translate3d(0, 0, 0)
                            -ms-transform: translate3d(0, 0, 0)
                            -o-transform: translate3d(0, 0, 0)
                            transform: translate3d(0, 0, 0)

                        .slick-list
                            position: relative
                            display: block
                            overflow: hidden
                            margin: 0
                            padding: 0
                            &:hover button[type="button"]
                                opacity: 1

                        .slick-track
                            // opacity: 1
                            // width: 50000px
                            // transform: translate3d(-315px, 0px, 0px)
                            position: relative
                            top: 0
                            left: 0
                            display: block
                            margin-left: auto
                            margin-right: auto
                            &:before, &:after
                                display: table
                                content: ''

        .mod__DescripcionP
            width: 100%
            padding: 25px 0
            border: 1px solid #DDD
            min-height: 150px
            height: auto
            background: #fff
            margin-bottom: 20px
            .container
                width: 100%
            ul.viewMenu
                position: relative
                padding: 0 8px 20px
                font-size: .9rem
                font-weight: 500
                overflow: hidden
                border-bottom: 1px solid #ddd
                li
                    float: left
                    // height: 25px///////////////////////////
                    padding: 0 16px
                    border-right: 1px solid #666
                    color: #666
                    cursor: pointer
                    margin: 5px 0
                    display: table
                    //&:first-child
                        //padding-left: 0
                    &:last-child
                        border-right: initial

                    span
                        font-size: .9rem
                        font-weight: 500
                        padding: 12px 10px
                        border-radius: 5px
                        display: table-cell
                        vertical-align: middle
                        &:hover
                            box-sizing: border-box
                            background: #CC001E

                li span:hover, li.select span
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                    color: #fff
                    padding: 10px
                    font-size: 1.2rem
                    font-weight: 500

                li.select span
                    box-sizing: border-box
                    background: #EB0028

            ul.viewDescrip
                padding-left: 16px
                padding-top: 16px
                box-sizing: border-box
                padding-right: 16px
                .viewDescrip, .viewDescrip .laDescrip tr>td
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                li
                    display: none
                    clear: both
                    color: #666
                    font-weight: 300
                    line-height: 1.5rem

                    .atributos
                        margin-top: 20px
                        .h5Descripcion
                            display: inline
                            color: #000
                            text-transform: capitalize
                            font-size: 16px
                    .descformaspago
                        border-bottom: 1px solid #666
                        overflow: hidden
                        padding: 20px 0
                        .descimg
                            float: left
                            width: 160px
                            img
                                height: 45px
                                width: 100%
                                margin: 0 10px
                                object-fit: scale-down
                        .desctexto
                            font-weight: 400
                            width: 80%
                            padding-top: 10px
                            padding-left: 30px
                            float: left

                li.show
                    display: block

        .viewsNdescrip
            display: -webkit-flex !important
            display: flex !important
            -webkit-flex-direction: row !important
            -ms-flex-direction: row
            width: 74%

            .buy-Details.contenedorTienda
                min-width: 100% !important
                .textoEnTienda
                    // padding: 0 0 40px
                    h3 
                        font-size: .95rem
                        text-transform: uppercase
                        color: #000
                        padding-top: .75rem
                        padding-bottom: .75rem
                        font-weight: 700
                        border-bottom: 2px solid #eb0028
                    p 
                        font-size: 1rem
                        color: #333
                        font-weight: 300
                .purchase_btns
                    margin-top: 50px


            .buy-Details
                box-sizing: border-box
                flex: 1
                padding: 8px 40px 8px 8px
                .purchase_btns 
                    border: 0
                    padding: 0
                    .fieldset 
                        flex-direction: column
                        -webkit-flex-direction: column
                        -ms-flex-direction: column
                    .recogeEnTienda
                        background: #EB0028!important
                        color: #fff
                        position: relative
                        height: 36px
                        width: 339px
                        margin-left: 40px
                        font-size: .8rem
                        &:before
                            content: ""
                            position: absolute
                            background-image: url(https://www.sears.com.mx/css/img/bolsa-57x68.png)
                            background-size: cover
                            width: 64px
                            height: 77px
                            top: -28px
                            left: -5px
                    button
                        width: 100%
                        height: 45px
                        margin-left: initial
                        border: 0
                        border-radius: 5px!important
                        margin-bottom: 16px


                .tarjetaSears
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    border-radius: 5px
                    padding: 10px
                    margin: 10px auto
                    .cont_tarS
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        padding-left: 85px
                        background-image: url(https://www.sears.com.mx/css/img/tarjeta_sears.png)
                        background-repeat: no-repeat
                        background-position: 10px 6px
                        border-radius: 3px
                        p
                            font-size: 16px
                            .min-space-top
                                margin-top: 10px
                            .a 
                                text-decoration: none
                                color: #EB0028
                .envioGratis p
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    font-size: 18px
                    padding: 10px
                    margin: 10px 0
                    display: inline-block
                    background-color: #096
                    color: #fff
                    text-align: center
                .skuMarca
                    webkit-display: -webkit-flex
                    display: -webkit-flex
                    display: flex
                    padding: 0
                    .left, .right
                        width: 50%
                    .divtienda
                        width: 40%
                        .tituloTienda
                            font-size: 1rem
                            font-weight: 400 !important
                    .left 
                        width: 100%
                    .left h3
                        font-size: 1.2rem
                        font-weight: 400 !important

                    .right h3
                        text-align: right
                        font-size: .9rem !important
                        font-weight: 200

                    h3
                        width: 100%
                        display: inline-block
                        padding: 5px 0
                        color: #666
                        // font-weight: 200

                .price
                    //padding: 16px 0 0
                    p
                        font-size: .9rem
                        font-weight: 300
                        margin-bottom: -8px //4px
                        text-align: left
                        .priceList
                            color: #888
                            text-decoration: line-through!important
                    p.total
                        font-weight: 600
                        font-size: 1.7rem
                        margin-bottom: 8px
                        display: block
                        color: #EB0028
                        .span
                            font-size: 1.25rem

                    p.antes
                        margin-top: 0!important
                        color: #888

                .mejorOferta
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    padding: 10px 0
                    height: auto
                    overflow: hidden
                    font-size: .9rem
                    color: #666
                    margin: 0 auto
                    font-weight: 300
                    line-height: 1.6
                    word-break: break-word

                    // .ofertasTarjetas
                    //     -moz-box-sizing: border-box
                    //     -webkit-box-sizing: border-box
                    //     box-sizing: border-box
                    //     background-color: #fff
                    //     padding: 10px 10px 10px 70px
                    //     position: relative
                    //     margin: 10px 0
                        // &:before
                        //     content: ""
                        //     font-family: "Font Awesome 5 free"
                        //     position: absolute
                        //     left: 25px
                        //     top: 5px
                        //     font-size: 20px
                        //     font-weight: 600

                    .ofertasSears
                        background-color: #fff
                        .cont-promo
                            dl
                                padding: 0
                                &:last-child dt .arrow
                                    border-bottom: none
                            .viewPromo
                                dd
                                    display: block!important

                            dl.tarjetaSears
                                margin: auto
                                dt
                                    position: relative
                                    &:before
                                        content: ""
                                        position: absolute
                                        width: 38px
                                        height: 26px
                                        top: 15px
                                        left: 15px
                                        // background-image: url(/img/tarjeta_sears.webp)
                                        background-size: cover
                            dt
                                -moz-box-sizing: border-box
                                -webkit-box-sizing: border-box
                                box-sizing: border-box
                                cursor: pointer
                                background-color: #fff
                                padding-left: 70px
                                font-weight: 500
                                color: #000
                                & .arrow
                                    -moz-box-sizing: border-box
                                    -webkit-box-sizing: border-box
                                    box-sizing: border-box
                                    padding: 10px 30px 10px 10px
                                    position: relative
                                    border-bottom: 1px solid #ddd

                                    &:after
                                        content: ""
                                        font-family: "Font Awesome 5 free"
                                        margin-right: 5px
                                        font-size: 16px
                                        color: #acacac
                                        position: absolute
                                        top: 10px
                                        right: 10px
                                        font-weight: 600

                            dd
                                -moz-box-sizing: border-box
                                -webkit-box-sizing: border-box
                                box-sizing: border-box
                                padding: 0 10px 0 90px
                                display: none
                                p
                                    -moz-box-sizing: border-box
                                    -webkit-box-sizing: border-box
                                    box-sizing: border-box
                                    padding: 10px

            .buy-Details, form#compra
                -moz-box-sizing: border-box
                -webkit-box-sizing: border-box
            .productMainContainer
                margin-top: 16px
                padding-top: 0
                display: block
                h1
                    padding: 0 8px 0 0
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    //padding: 8px 8px 16px
                    display: table
                    width: 100%
                    font-size: 2rem
                    line-height: 1.2
                    font-weight: 300
                    margin: 0

        .info-Product, .price-Product
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            webkit-display: -webkit-flex
            display: -webkit-flex
            display: flex
            // flex-direction: column
            -webkit-box-direction: column
            -moz-box-direction: column
            -ms-box-direction: column
            -webkit-flex-direction: column
            -ms-flex-direction: column
            padding: 8px
            width: auto !important
            margin-bottom: 30px

        .info-Product
            .media-container
                max-width: 100%
                width: 480px !important
                margin: 0 auto
                .bx-wrapper,  #bx-pager
                    padding-bottom: 10px

                #bx-pager
                    .outborder
                        border: 1px solid #ddd
                    a
                        display: block
                        margin-bottom: 9px
                        width: 100%
                        box-sizing: border-box
                        -webkit-box-sizing: border-box
                        -moz-box-sizing: border-box
                        overflow: hidden
                        align-items: center
                        height: 60px        ///
                        img
                            max-width: 60px
                            max-height: 48px
                    img
                        height: 60px
                        padding: 6px 0px
                img
                    max-width: 50px

                .bx-slide
                    max-width: 1800px
                    height: auto!important
                    position: relative
                    .bx-viewport
                        width: 100%
                        overflow: hidden
                        position: relative
                        height: 100px !important//64px
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        position: relative
                        margin: 20px auto
                        &>#bx-pager a
                            background: #fff
                            width: 60px!important

                        .bx-pager
                            width: 9215%
                            position: relative
                            transition-duration: 0s
                            transform: translate3d(0px, 0px, 0px)

                    .bx-controls.bx-has-controls-direction
                        .bx-controls-direction
                            .bx-next,
                            .bx-prev
                                position: absolute
                                font-size: 0
                                text-indent: -9999
                                text-decoration: none
                                display: table
                                background: 0 0
                                //left: 16px!important
                                border-radius: 0
                                height: auto!important
                                background: rgba(0,0,0,.4)!important
                                width: 32px!important
                                height: 32px!important
                                top: 40%!important
                                margin-top: 0!important
                                //overflow: hidden
                                font-size: 0
                                &:before
                                    font-size: 40px
                                    color: #000
                                    text-decoration: none
                                    line-height: 0//20px
                                    display: table
                                    margin-top: 13px
                                    font-family: "Font Awesome 5 free"
                                    margin-top: 7px!important
                                    background: 0 0!important
                                    height: auto!important
                                    content: " "
                                    display: block!important
                                    width: 32px!important
                                    height: 32px!important
                                    margin: 0!important
                                    position: relative!important
                            .bx-next.disabled:before,
                            .bx-prev.disabled:before
                                color: rgba(100,100,100,.5)!important
                                cursor: default
                            .bx-prev
                                left: 0
                                background: url(/img/controls-left.gif) no-repeat center left !important
                                &:before
                                    content: ""
                                    font-family: "Font Awesome 5 free"
                                    font-weight: 600
                                    background: url(/img/controls-left.gif) no-repeat
                                &:hover
                                    background-position: 0 -92px
                                    background: url(/img/controls-left.gif) no-repeat center left !important

                            .bx-next
                                right: 0 !important
                                background: url(/img/controls-right.gif) no-repeat center right !important
                                &:before
                                    content: ""
                                    font-family: "Font Awesome 5 free"
                                    font-weight: 600
                                &:hover
                                    background: url(/img/controls-right.gif) no-repeat center right !important
                                    background-position: 0px -138px

                .bx-wrapper
                    max-width: 627px
                    max-width: 100% !important
                    padding-bottom: 10px
                    position: relative
                    margin: 0 auto
                    padding: 0 0 10px 0
                    *zoom: 1
                        float: right
                        width: 480px
                    img
                        width: 100%
                        height: auto
                        display: block

                    .bx-viewport
                        width: 100%
                        overflow: hidden
                        position: relative
                        height: 395px
                        ul.carrusel-producto
                            height: auto
                            width: 9215%
                            position: relative
                            transition-duration: 0s
                            transform: translate3d(-35px, 0px, 0px)
                            img
                                cursor: zoom-in
                                max-width: 100% !important

                            li
                                float: left
                                list-style: none
                                position: relative
                                width: 469px !important //449

                                border: 1px solid #ddd
                                display: inline-block
                                width: 100%
                                padding: 1px
                                box-sizing: border-box
                                -moz-box-sizing: border-box
                                overflow: hidden
                                min-height: 395px
                                max-height: 395px
                                height: 100%
                                img
                                    max-width: 100%!important
                                    width: auto
                                    max-height: 395px
                                    display: table
                                    margin: auto

                    li
                        background: #fff
                        list-style: none

                        text-align: center
                        position: relative
                        webkit-display: -webkit-flex
                        display: -webkit-flex
                        display: flex
                        justify-content: space-between
                        -webkit-justify-content: space-between
                        -moz-justify-content: space-between
                        -ms-flex-pack: space-between
                        -ms-flex-pack: justify
                        align-items: center
                        -webkit-align-items: center
                        -ms-flex-align: center

                        img
                            width: 100%
                            max-width: 100%
                            height: auto
                            display: block
                #bx-pager
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    padding-right: 5px
                    overflow: initial !important

                    overflow-x: hidden !important
                    text-align: center
                    float: left
                    max-height: 395px
                    padding-bottom: 10px
        .textoEnTienda+.opcionesPrincipal
            margin: -40px 0 50px
        .opcionesPrincipal
            .opciones 
                display: -webkit-flex
                display: flex
                -webkit-flex-direction: row
                -ms-flex-direction: row
                justify-content: space-between
                -webkit-justify-content: space-between
                -moz-justify-content: space-between
                -ms-flex-pack: space-between
                -ms-flex-pack: justify
                padding-right: 16px
                min-height: 80px
                padding-top: 35px
                padding-bottom: 16px
                border-bottom: 1px solid #ddd
                .divisor
                    border-right: 1px solid #DDD
                    top: 10px
                    position: relative
                .boxColor, .boxTallas 
                    display: inline-block
                    width: 30%
                    span
                        font-size: 1rem
                        color: #666
                        font-weight: 300
                        margin: 10px 0
                        display: block
                    .opc_colors, .opc_sizes
                        width: 90%
                        height: 30px
                        position: relative
                        &:after
                            -moz-box-sizing: border-box
                            -webkit-box-sizing: border-box
                            box-sizing: border-box
                            content: ""
                            font-family: "Font Awesome 5 free"
                            position: absolute
                            -webkit-transform: translateY(-50%)
                            -moz-transform: translateY(-50%)
                            -ms-transform: translateY(-50%)
                            transform: translateY(-50%)
                            top: 50%
                            border-left: 1px solid #DDD
                            padding: 9px 10px
                            right: 0
                            margin-top: 2px
                            pointer-events: none
                            font-weight: 600
                        select
                            background: #fff
                            height: 35px
                            width: 100%
                            border: 1px solid #DDD
                            font-size: .8rem
                            color: #666
                            font-weight: 300
                            margin: 0 auto

                // .boxColor 
                //     border-right: 1px solid #DDD
                .boxTallas
                    // padding-left: 20px
                    margin-right: 140px

        .purchaseModule
            display: -webkit-flex
            display: flex
            flex-direction: column
            -webkit-flex-direction: column
            -ms-flex-direction: column
            padding: 8px
            width: 24%
            background: #fff
            .mensajeAgotado 
                margin-top: 50px
                margin-bottom: 20px
                .alertaAgotado 
                    border: 1px solid #F6A623
                    padding: 5px 0
                    span 
                        color: #F6A623
                        font-size: 0.9rem
                        font-weight: 300
                    span::before 
                        content: ""
                        font-family: "Font Awesome 5 free"
                        color: rgb(246, 166, 35)
                        font-size: 1.2rem
                        margin: 0px 10px
                        font-weight: 600

            .small
                color: #EB0028
                text-align: center
                padding: 5px
                font-size: 10px!important
            p
                flex-direction: row
                -webkit-flex-direction: row
                -ms-flex-direction: row
                font-size: 15px
                display: inline-block
                font-weight: 400
                margin-bottom: 10px

            .purchase_btns
                border: 0
                padding: 0

                .fieldset
                    flex-direction: column
                    -webkit-flex-direction: column
                    -ms-flex-direction: column
                    button.btn-compra2
                        font-size: 13px!important
                        transition: all .3s
                        background-color: #EB0028!important
                        &:after
                            content: ""
                            margin-left: 5px
                            font-weight: 600
                            font-family: "Font Awesome 5 free"
                        &:hover
                            background-color: #CC001E!important
                            color: #fff!important
                            border: none
                    .disabledComprar
                        color: #fff
                        background-color: #eb00288f
                        font-size: 13px!important
                        &:after
                            content: ""
                            margin-left: 5px
                            font-weight: 600
                            font-family: "Font Awesome 5 free"
                    .disabledBolsa
                        border: 1px solid #e9e9e9 !important
                        background-color: #e9e9e9 !important
                        color: #777777
                        &:after
                            color: #777777
                            content: "\f290"
                            font-family: "Font Awesome 5 Free"
                            font-weight: 600
                            left: 10px
                            position: relative
                    .disabledClick
                        border: 1px solid #e9e9e9 !important
                        background-color: #e9e9e9 !important
                        color: #777777
                        &:after
                            color: #777777
                            margin-left: 10px
                            margin-bottom: -5px
                            font-size: 18px
                            content: "\f3c5" //""
                            font-family: "Font Awesome 5 free"
                            font-weight: 600
                            position: relative
                    button
                        width: 100%
                        height: 45px
                        margin-left: initial
                        border: 0
                        border-radius: 5px !important
                        margin-bottom: 16px
                        .btn-carrito
                            transition: all .3s
                            color: #666 !important
                            background-color: #fff !important
                            border: 1px solid #666 !important
                            &:after
                                margin-top: -10px
                                margin-left: 10px
                                font-size: 17px
                                bottom: -2px
                                position: relative
                        .btn-click
                            -moz-transition: all .3s
                            -ms-transition: all .3s
                            transition: all .3s
                            font-size: 13px
                            line-height: 31px
                            font-weight: 300
                            color: #666
                            background-color: #fff !important
                            border: 1px solid #666! important
                            cursor: pointer

                    .btn-carrito, .btn-click
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        font-size: 13px!important
                        text-align: center!important
                        display: table
                        cursor: pointer
                        border: 1px solid #666
                        color: #666
                        background-color: #fff !important
                    .btn-carrito:hover
                        background-color: #888!important
                        color: #fff!important
                        border: none
                    .btn-carrito:after,
                    .btn-carrito:hover,
                    .btn-carrito:hover:after
                        content: "\f290"
                        font-family: "Font Awesome 5 Free"
                        font-weight: 600
                        left: 12px
                        // position: relative
                    .btn-carrito:after
                        position: relative
                    .btn-click:after
                        color: #EB0028
                        margin-left: 10px
                        margin-bottom: -5px
                        font-size: 18px
                        content: "\f3c5" //""
                        font-family: "Font Awesome 5 free"
                        font-weight: 600
                    .btn-click:hover:after, .ico-click-recoge:before
                        content: "\f3c5" // ""
                        font-family: "Font Awesome 5 free"
                        font-weight: 600
                        color: #fff
                    .btn-click:hover
                        -webkit-transform: scale(1.1)
                        transform: scale(1.1)
                        background-color: #888!important
                        color: #fff!important
                        border: none!important

                    .btn-compra2
                        border-radius: 5px!important
                        text-decoration: none
                        color: #fff !important
                        font-weight: 300!important
                        padding: .5rem

                    .btn-compra, .btn-compra2
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        margin: 16px auto

            .opciones, .shareAndRates
                flex-direction: row
                -webkit-box-direction: row
                -moz-box-direction: row
                -ms-box-direction: row
                webkit-display: -webkit-flex

            .opciones
                display: -webkit-flex
                display: flex
                -webkit-flex-direction: row
                -ms-flex-direction: row
                justify-content: space-between
                -webkit-justify-content: space-between
                -moz-justify-content: space-between
                -ms-flex-pack: space-between
                -ms-flex-pack: justify
                padding-right: 16px
                min-height: 80px
                padding-top: 16px
                padding-bottom: 16px
                border-bottom: 1px solid #ddd
                .boxColor .opc_colors:after,
                .boxColor .opc_sizes:after,
                .boxTallas .opc_colors:after,
                .boxTallas .opc_sizes:after
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    content: ""
                    font-family: "Font Awesome 5 free"
                    font-weight: 600
                    position: absolute
                    -webkit-transform: translateY(-50%)
                    -moz-transform: translateY(-50%)
                    -ms-transform: translateY(-50%)
                    transform: translateY(-50%)
                    top: 59%
                    border-left: 1px solid #DDD
                    padding: 9px 10px
                    right: 0
                    margin-top: 2px
                    pointer-events: none

                .opc_colors
                    select
                        background: #fff
                        height: 40px
                        width: 90%
                        border: 1px solid #DDD
                        font-size: .8rem
                        color: #666
                        font-weight: 300
                        margin: 10px auto

                .boxColor .opc_colors,
                .boxColor .opc_sizes,
                .boxTallas .opc_colors,
                .boxTallas .opc_sizes
                    height: 30px
                    position: relative
                    select
                        background: #fff
                        height: 40px
                        width: 100%
                        border: 1px solid #DDD
                        font-size: .8rem
                        color: #666
                        font-weight: 300
                        margin: 0 auto

                .boxColor
                    margin-right: 15px
                .divisor 
                    border-right: 1px solid #DDD
                    top: 10px
                    position: relative
                .boxTallas
                    padding-left: 15px//20px

                .boxColor, .boxTallas
                    display: inline-block
                    width: 50%
                    span
                        font-size: 1rem
                        color: #666
                        font-weight: 300
                        margin: 10px 0
                        display: block

            .cantidadOpt
                max-width: initial
                .moduloCompra
                    border: 0
                    padding: 16px 0
                    width: 100%
                    .text-cantidad
                        display: -webkit-flex
                        display: flex
                        -webkit-flex-direction: row
                        -ms-flex-direction: row
                        justify-content: center
                        -webkit-justify-content: center
                        -moz-justify-content: center
                        -ms-flex-pack: center
                        align-items: center
                        -webkit-align-items: center
                        -ms-flex-align: center
                    h3
                        font-size: 1rem
                        color: #666
                        font-weight: 300
                        padding: 12px 0
                        margin-right: 10px
                    .fieldset
                        flex-direction: column
                        -webkit-flex-direction: column
                        -ms-flex-direction: column
                        .countBox
                            width: 100%!important
                            margin-bottom: 0
                            display: inline-block
                            webkit-display: -webkit-flex
                            flex-direction: row
                            -webkit-box-direction: row
                            -moz-box-direction: row
                            -ms-box-direction: row
                            -webkit-flex-direction: row
                            -ms-flex-direction: row
                            align-items: center
                            -webkit-align-items: center
                            -ms-flex-align: center
                            width: 100%!important
                            max-width: 88px
                            margin-bottom: 10px
                            .countValue
                                max-width: initial!important
                                width: 100%!important
                                border: 1px solid #ddd
                                max-width: initial!important
                                text-align: center

                            .countBox input[type=text],
                            .countBox input[type=number],
                            .countBox input[type=email],
                            .countBox input[type=password]
                                font-size: .9rem
                                font-weight: 300
                                text-align: center
                                width: 100%
                                box-sizing: border-box
                                border: 1px solid #ddd
                                height: 36px
                                padding: 8px!important
                                margin: 0
                                float: left
                                border-radius: 0
                                border-left: none
                                border-right: none

                    .fieldset, .countBox .btns
                        -webkit-box-direction: column
                        -moz-box-direction: column
                        -ms-box-direction: column

            .box_claroEnvios,
            .box_claroEnvios .btn-envios,
                -moz-box-sizing: border-box
                -webkit-box-sizing: border-box

            .box_claroEnvios
                box-sizing: border-box
                padding: 15px 20px
                border: 1px solid #ddd
                border-radius: 3px
                text-align: center

                .resultadosCP .contTiendas a:hover,
                .resultadosCP .content__Registro .registro_left .form-group.checkbox a:hover,
                .resultadosCP .link:hover,
                .contTiendas .box_claroEnvios .resultadosCP a:hover,
                .content__Registro .registro_left .form-group.checkbox .box_claroEnvios .resultadosCP a:hover
                    color: #1F97AE

                .resultadosCP .contTiendas a,
                .resultadosCP .content__Registro .registro_left .form-group.checkbox a,
                .resultadosCP .link,
                .box_claroEnvios .resultadosCP a,
                .registro_left .form-group.checkbox .box_claroEnvios .resultadosCP a
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    text-decoration: underline
                    display: block
                    color: inherit
                    font-weight: 700
                    margin: 10px 0
                h2
                    padding-bottom: 15px!important
                    font-size: 1.1rem
                    font-weight: 500
                    color: #000
                .ingresaCP,
                .resultadosCP,
                .seleccionaEnvos
                    display: none

                .btn-envios
                    box-sizing: border-box
                    margin-bottom: 10px
                    background-color: "transparent"
                    font-size: 13px!important
                    text-align: center!important
                    text-decoration: none
                    display: table
                    padding: 8px 16px
                    cursor: pointer
                    color: "black"!important
                    font-weight: 300!important
                    border: 1px solid #444
                    border-radius: 10px!important
                    width: 100%
                .ingresaCP.show,
                .resultadosCP.show,
                .seleccionaEnvos.show
                    display: block
                .ingresaCP
                    position: relative
                    h3
                        font-weight: 300
                        font-size: .9rem
                    input[type=text]
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        display: block
                        width: 100%
                        border: 1px solid #ddd
                        padding: 8px !important
                        margin: 15px 0
                        font-size: .9rem
                        color: #666
                        font-weight: 300
                        cursor: pointer!important
                    [id*=tiempoEntrega]
                        color: #999
                        line-height: 1.3
                        font-weight: 400
                        font-size: 15px
                    .ventana_emergente
                    .ventana_emergente.active,
                    .ventana_sussess.active
                        display: inline-block
                    .ventana_emergente, .ventana_sussess
                        box-sizing: border-box
                        display: none
                        // padding: 8px 16px 8px 41.6px
                        background: #f2f2f2
                        border: 1px solid #DA262D
                        margin: 0 0 12px
                        width: 100%
                        position: relative
                    .autocompleteCP
                        border: 1px solid #ddd
                        border-radius: 5px
                        background: #fff
                        position: absolute
                        display: none
                        top: 65px
                        left: 0
                        width: 110%
                        z-index: 10
                        font-size: 12px
                        max-height: 200px
                        overflow-x: none
                        overflow-y: auto
                    .autocompleteCP.show
                        display: block
                    .btn-rojo
                        display: block
                        width: 100%
                        border-radius: 10px!important

                        -o-transition: all .3s
                        -ms-transition: all .3s
                        transition: all .3s
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        margin-bottom: 10px
                        background-color: #EB0028
                        border: 1px solid #EB0028
                        text-decoration: none
                        padding: 8px 16px
                        color: #fff!important
                        font-weight: 300!important

                        border-radius: 50px!important
                        font-size: 13px!important
                        text-align: center!important
                        display: table
                        cursor: pointer
                        &:hover
                            -webkit-transform: scale(1)
                            -moz-transform: scale(1)
                            -ms-transform: scale(1)
                            transform: scale(1)
                            border: 1px solid #B7202E!important

                            background-color: #B7202E
                            color: #fff!important
                            border: none
                            text-decoration: none!important

                .resultadosCP
                    font-size: 14px
                    dl
                        font-size: 14px
                        display: table
                        width: 100%
                        margin-bottom: 10px
                        dt
                            float: left
                            clear: both
                            font-weight: 400
                        dd
                            float: left
                            font-weight: 700
                            padding-left: 10px
                    ul
                        display: block
                        width: 100%
                        li
                            font-weight: 700
                            display: inline
                    .small
                        margin: 10px 0
                        display: block
                        font-size: .7rem
                        font-weight: 100
.mod__DescripcionP ul.viewMenu  li  .prodSucursales
    float: left
    // height: 25px
    padding: 0 16px
    border-right: 1px solid #666
    color: #666
    cursor: pointer
    margin: 5px 0
    display: table

.contSucursales 
    box-sizing: border-box
    background: #fff
    padding: 20px

    .titleContent 
        display: -webkit-flex
        display: flex
        -webkit-flex-direction: row
        -ms-flex-direction: row
        justify-content: space-between
        -webkit-justify-content: space-between
        -moz-justify-content: space-between
        -ms-flex-pack: space-between
        -ms-flex-pack: justify
        padding-bottom: 10px

    .titleContent
        flex-direction: row
        webkit-display: -webkit-flex
        -webkit-box-direction: row
        -moz-box-direction: row
        -ms-box-direction: row

    .titleCant, 
    .titleTienda 
        color: #EB0028
        display: inline-block

    .titleTienda 
        box-sizing: border-box
        text-align: left
        padding-left: 10px
    .titleCant 
        text-align: right
    h5 
        width: calc(100% - 45px)
        text-align: left
        display: inline-block
        font-size: 12px
        font-weight: 400
        margin-left: 12px
    span
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        text-align: right
        font-size: 12px
        width: 30px
        padding-right: 10px
        font-weight: 400
    dt 
        webkit-display: -webkit-flex
        display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -moz-box-direction: row
        -ms-box-direction: row
        -webkit-flex-direction: row
        -ms-flex-direction: row
        justify-content: space-between
        -webkit-justify-content: space-between
        -moz-justify-content: space-between
        -ms-flex-pack: space-between
        -ms-flex-pack: justify
        box-sizing: border-box
        background: #ddd
        color: #000
        padding-top: 10px
    .parrafoDireccion
        margin-left: 12px
    .resultadoSucursal
        max-height: 400px
        overflow-x: hidden
        overflow-y: auto

        dd 
            box-sizing: border-box
            font-size: 12px
        dd, dt 
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            width: 100%
            padding: 5px 10px
            min-height: 32px
        strong
            color: #000
            font-weight: 600
    dl 
        text-transform: uppercase


///////////////////////////////////////////////////////
@media only screen and ( max-width: 290px  )
    .texto-carrito
        width: 100% !important
        .texto1
            width: 8%
        .texto2
            float: none

@media only screen and (min-width: 291px) and (max-width: 480px)
    .cuadroProdDetalle
        min-width: 80px
        max-width: 90px
    .texto-carrito
        width: 100% !important
        left: 10%
        position: relative !important
        .texto1
            width: 8%
        .texto2
            float: none !important
            display: block !important
    .productMainContainer .mod__producto .viewsNdescrip
        padding: 0 !important
    .mod__producto .viewsNdescrip .buy-Details
        padding-right: 8px!important
    .icoTarjeta
        left: 10px !important
    .productMainContainer .mod__producto .mod__DescripcionP ul.viewMenu li
        border-right: none
        //.productMainContainer .mod__producto .mod__DescripcionP ul.viewMenu li:first-child
 /* padding-left: 0; */

@media only screen and(min-width: 481px) and (max-width: 570px)
    .texto-carrito
        left: 3% !important
        width: 60% !important
        position: relative !important
        overflow: hidden
        display: inline-block !important
    .mod__producto ul.viewMenu li
        float: none !important
    .productMainContainer .mod__producto .mod__DescripcionP ul.viewMenu li
        border: none

@media only screen and (min-width: 571px)and (max-width: 760px)
    .texto-carrito
        left: 5% !important
        width: 60% !important
        position: relative !important
        overflow: hidden
        display: inline-block !important
    .mod__producto ul.viewMenu li
        float: none !important
    .productMainContainer .mod__producto .mod__DescripcionP ul.viewMenu li
        border: none
@media only screen and (max-width: 761px)
    .mod__producto .purchaseModule
        width: 100% !important
    .productMainContainer .mod__producto .viewsNdescrip
        padding: 20px //!important
        width: 100% !important

@media only screen and (min-width: 761px)
    .mod__producto,
    .sec__categorias .sec__Internas+h1,
    .sintillo,
    .sliderTiendasSection,
    .slidersDetalleProducto,
    .tabsLoMas
        max-width: 1480px
        width: 95%
@media only screen and (min-width: 960px) and (max-width: 1100px)
    .viewsNdescrip
        flex-direction: column
        -webkit-box-direction: column
        -moz-box-direction: column
        -ms-box-direction: column
        -webkit-flex-direction: column
        -ms-flex-direction: column
        width: 75% !important

        display: -webkit-flex
        display: flex
        -webkit-flex-direction: row
        -ms-flex-direction: row
        .info-Product
            width: 100%!important
        .media-container
            max-width: 45% !important
            .bx-wrapper .bx-viewport ul.carrusel-producto li
                max-width: 300px !important
                max-height: 300px !important
            .bx-wrapper
                max-width: 305px

@media only screen and (max-width: 960px)
    .slidersDetalleProducto
        width: 100%
        margin: 0 auto
    .mod__producto

        .viewsNdescrip
            flex-direction: column
            -webkit-box-direction: column
            -moz-box-direction: column
            -ms-box-direction: column
            -webkit-flex-direction: column
            -ms-flex-direction: column
            width: 70%

            display: -webkit-flex
            display: flex
            -webkit-flex-direction: row
            -ms-flex-direction: row
            .info-Product
                width: 100%!important
                display: block
        .info-Product
            width: 50%
        .purchaseModule
            width: 26%

        .mod__DescripcionP
            width: 100%
            margin-top: 15%//10px
            margin-bottom: 20% !important

    .media-container
        .bx-wrapper
            position: relative
            margin: 0 auto
            padding: 0 0 10px
            float: right
            width: auto

@media only screen and ( max-width: 1100px  )
    .media-container .slick-next, 
    .media-container .slick-prev
        display: none !important
        visibility: hidden
    
@media only screen and (max-width: 1100px)
    .media-container
        .bx-wrapper
            position: relative
            margin: 0 auto
            padding: 0 0 10px 0
            *zoom: 1
                float: initial
                width: auto

        #bx-pager
            overflow-x: hidden
            text-align: center
            float: initial

            webkit-display: -webkit-flex
            display: -webkit-flex
            display: flex
            text-align: center
            float: initial
            overflow: scroll!important
            overflow-y: hidden!important
            width: 100%
            max-height: 80px!important
            overflow-x: auto!important
            a
                display: inline-block
                margin-right: 10px
                width: 14.2%
                box-sizing: border-box
                -moz-box-sizing: border-box
                // overflow: hidden
                overflow: auto!important

@media only screen and (max-width: 2000px)
    .mod__producto
        #bx-slide,
        .bx-slide,
            max-width: 100%!important

            .bx-viewport
                height: 60px!important
                max-height: 395px!important
                #bx-pager
                    display: flex
                    //  overflow: scroll!important
                    a
                        display: table
                        margin: 0 3px
                        min-width: 60px

        .info-Product
            width: 50%!important

    .mod__producto .bx-controls.bx-has-controls-direction
        width: 200px
        height: 20px
        bottom: 30px//-40px
        left: 50%
        margin-left: -100px
        position: absolute
        .bx-controls-direction
            height: 80px//20px
            width: 100%
            position: relative
