body.ReactModal__Body--open
    overflow: hidden
.ReactModal__Content
    top: 20% !important
    left: 50% !important
    right: auto !important
    bottom: auto
    margin-right: -50% !important
    width: 417px
    height: 600px
    transform: translate(-50%, -20%) !important
    // overflow: initial !important
    // overflow-y: auto
    // overflow-x: hidden !important

.ReactModal__Overlay ,.ReactModal__Overlay--after-open, .ReactModal__Content .ReactModal__Content--after-open
    background-color: rgba(66, 66, 66, 0.75) !important
    width: auto
    height: auto
    display: block
    z-index: 2200
    overflow: initial !important
button.fancybox-close
    position: absolute
    top: -15px !important
    right: -15px !important
    width: 31px
    height: 31px
    cursor: pointer
    z-index: 8040
    background-color: #478be4
    color: #fff
    display: block
    border-radius: 50%
    border: 1px solid #478be4
    box-shadow: 0 0 6px 1px grey
    z-index: 2210 !important
    font-weight: 800

.bordeBottom
    border-bottom: 1px #eee solid !important
    padding-bottom: 5px

.clickRecoge
    padding: 0 !important
    &:before
        color: #EB0028
        font-size: 28px
        //position: absolute
        //margin-top: 12px
        margin-right: 20px
        content: "\f3c5"
        font-family: "Font Awesome 5 free"
        font-weight: 600

.caja__click
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 0 16px
    float: left
    width: 45%
    margin: .5em
    font-size: 14px
    color: #727272
    line-height: normal
    .producto
        padding: 10px 0
        line-height: 20px
        margin-top: 20px
        margin-bottom: 0!important
        color: #000
        font-size: 1rem
        font-weight: 400
    .info
        font-size: 13px
        font-weight: 400
    .cajaClick
        color: #DF0209
        font-size: 1.5rem
        margin-top: 15px

.Box__product
    .fila_producto
        width: 100%
        &:after
            display: block
            clear: both
            content: ""

        .box__detalleClick
            height: auto
            width: 30%
            float: left
            margin: .5em
            text-align: center
            img
                max-height: 300px
                object-fit: scale-down
                display: none!important
            img.tienda_Detalle
                display: none!important
                display: block!important
                margin: 0!important
                width: 100%!important
                &:first-child
                    display: block!important
            .tienda_Detalle
                width: 80%
                vertical-align: middle
                margin-top: 20px

        .opciones__Talla
            float: right
            width: 20%
            margin: 40px auto
            color: #727272
            font-size: .9rem
            font-weight: 300
            .opc_colors select
                background: #fff
                height: 40px
                width: 90%
                border: 1px solid #DDD
                font-size: .8rem
                color: #666
                font-weight: 300
                margin: 10px auto

.cont-search-tienda div:first-of-type+.display-inline2
    display: none!important
.display-inline2
    -moz-box-sizing: border-box
    box-sizing: border-box
    display: inline-block
    vertical-align: top
    width: 49.6%
.display-inline2, .searchCode
    -webkit-box-sizing: border-box
.cont-search-tienda .search
    width: 100%
    max-width: 100%
    min-width: 100%
    height: 33px
    padding: 0 8px 0 0!important
.search
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 0 32px 0 8px!important
    min-width: 30%
    // max-width: 40%
    width: 35%

.content__Padres
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    width: 100%
    margin-top: 20px
    border: 1px solid #DDD
    padding: 20px
    border-radius: 5px
    margin: 15px auto
    overflow: hidden

    .cont-search-tienda
        padding: 10px 5px 30px
        & div:first-of-type+.display-inline2
            display: none!important
        .display-inline2, .searchCode
            -webkit-box-sizing: border-box
        .display-inline2
            -moz-box-sizing: border-box
            box-sizing: border-box
            display: inline-block
            vertical-align: top
            width: 49.6%
            position: relative
            bottom: 10px
        .search
            width: 100%
            max-width: 100%
            min-width: 100%
            height: 33px
            padding: 0 8px 0 0!important
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            padding: 0 32px 0 8px!important
            min-width: 30%
            max-width: 40%
            width: 35%
        .display-inline2
            -moz-box-sizing: border-box
            box-sizing: border-box
            display: inline-block
            vertical-align: top
            width: 49.6%
            .conttxt
                font-size: 85%
                padding: 20px 0 5px
            .chosen-select 
                border: 1px solid #aaa
                border-radius: 5px
            .chosen-container
                position: relative
                display: inline-block
                vertical-align: middle
                font-size: 12px
                -webkit-user-select: none
                -moz-user-select: none
                user-select: none
                a
                    cursor: pointer
            .chosen-container-single .chosen-single
                height: 35px!important
                line-height: 34px!important
                background: 0 0!important
                position: relative
                display: block
                overflow: hidden
                padding: 0 0 0 8px
                height: 25px
                border: 1px solid #aaa
                border-radius: 5px
                background-color: #fff
                background: -webkit-gradient(linear,50% 0,50% 100%,color-stop(20%,#fff),color-stop(50%,#f6f6f6),color-stop(52%,#eee),color-stop(100%,#f4f4f4))
                background: -webkit-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%)
                background: -moz-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%)
                background: -o-linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%)
                background: linear-gradient(#fff 20%,#f6f6f6 50%,#eee 52%,#f4f4f4 100%)
                background-clip: padding-box
                box-shadow: 0 0 3px #fff inset, 0 1px 1px rgba(0,0,0,.1)
                color: #444
                text-decoration: none
                white-space: nowrap
                line-height: 24px
                span
                    font-weight: 100
                    font-size: .9rem
                    color: #727272
                    display: block
                    overflow: hidden
                    margin-right: 26px
                    text-overflow: ellipsis
                    white-space: nowrap

    .box__distancia
        box-sizing: border-box
        width: 100%
        height: auto
        padding: 15px
        border: 1px solid #DDD
        margin-bottom: 15px
        border-radius: 5px
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        cursor: pointer
        &:after
            display: block
            content: ""
            clear: both
        .contInfo 
            margin: 0
            ul
                display: block
                margin: 5px
                li.titTienda
                    box-sizing: border-box
                    width: 100%
                    padding-right: 0
                    word-break: break-word
                    display: inline-block
        .izqFlotante
            float: left
            width: 100%
            // margin: 1em
        p.descTienda
            display: block
            font-size: 13px
            line-height: normal
            color: #727272
            float: left
            margin: 5px
                
        p.Horarios__Tienda 
            display: block
            width: 100%
            margin: 15px 5px 0
            font-size: 13px
            line-height: normal
            color: #727272
            float: left
        a.telTienda
            text-decoration: none
            margin: 5px
            display: block
            width: 100%
            font-size: 13px
            line-height: normal
            color: #727272
            float: left
        .Tienda
            -webkit-transition: .3s
            -moz-transition: .3s
            -o-transition: .3s
            -ms-transition: .3s
            transition: .3s
            float: right
            margin: 10px auto
            border-radius: 50px
            background-color: #DA262D
            border: 1px solid #DA262D
            font-size: 13px !important
            text-align: center !important
            text-decoration: none
            display: table
            padding: 8px 16px
            cursor: pointer
            color: #fff !important
            font-weight: 300 !important

.css-2b097c-container
    position: relative
    box-sizing: border-box
    width: 200px

.css-1wa3eu0-placeholder
    color: hsl(0,0%,50%)
    margin-left: 2px
    margin-right: 2px
    position: absolute
    top: 50%
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    transform: translateY(-50%)
    box-sizing: border-box
    font-size: 0.9rem
.css-yk16xz-control
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    background-color: hsl(0,0%,100%)
    border-color: hsl(0,0%,80%)
    border-radius: 4px
    border-style: solid
    border-width: 1px
    cursor: default
    -webkit-flex-wrap: nowrap !important
    flex-wrap: nowrap !important
    -webkit-box-pack: justify
    min-height: 28px
    outline: 0 !important
    position: relative
    -webkit-transition: all 100ms
    transition: all 100ms
    box-sizing: border-box
    height: 40px
.css-1pahdxg-control
    -webkit-align-items: center
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center

.Chosen-select 
    width: auto !important
.chosen-container .chosen-container-single
    width: auto !important
.chosen-container-single .chosen-single div 
    position: absolute
    top: 0
    right: 0
    display: block
    width: 18px
    height: 100%
    display: none !important
