.modalZoom
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    background-color: rgba(0,0,0,0.6)
    box-sizing: border-box
    z-index: 10000

button.closeZoom
    position: absolute
    top: -18px
    width: 15px
    z-index: 10
    right: 0
    background: transparent
    border: none
    .closeDes
        right: 10px
        cursor: pointer
        font-size: 28px
        height: 30px

.contZoomRelative
    position: relative
    box-sizing: border-box
    padding: 20px
    width: 100%
    height: 100%
    display: flex
    flex-direction: row
    .contentZoom
        width: calc(100% - 350px)
        overflow: auto
        -webkit-overflow-scrolling: touch
        height: 560px
        img
            width: auto
            height: auto
            object-fit: contain
            margin: auto
            cursor: zoom-out
        img.zoomin
            width: 100%
            height: 99% // 65%
            object-fit: contain
            margin: auto
            cursor: zoom-in
.navigateZoom
    width: 320px //280px
    box-sizing: border-box
    padding-left: 10px
    h2
        margin: 20px 0
        text-align: left
        font-size: 20px
        font-weight: 700
        color: #000 !important
        margin-left: 13%
    ul
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: start
        list-style: none
        li
            border: 1px solid #ddd
            padding: 1px
            box-sizing: border-box
            margin: 5px
            cursor: pointer
            &.active
                border: 1px solid #EF3829
            button
                border: none

            img
                width: 50px
.hover
    transform : scale(1.9)
    -moz-transform : scale(1.9)
    -webkit-transform : scale(1.9)
    -o-transform : scale(1.9)
    text-align: center !important
    padding-top: 100px