#modal-newsletter 
    white-space: nowrap
    overflow: auto
    .check 
        display: inline-block
        width: auto
        vertical-align: middle
        margin-right: 5px
    .ico-check:before 
        content: '\f14a'
        font-family: "Font Awesome 5 free"
        color: #B8E986
        display: inline-block
        font-size: 2.3rem
        font-weight: 600
        bottom: 3px
        position: relative
    p 
        display: inline-block
        font-size: 1.2rem
        font-weight: 300
        padding: 0 !important
        vertical-align: middle
        color: #000
    .closeNWL
        width: 80px
        display: block
        margin: 16px auto 0

    .redbtn 
        background-color: #EB0028
        border: 1px solid #EB0028
        color: #fff!important
        font-weight: 300!important
        transition: all .3s .3s
        box-sizing: border-box
        margin-bottom: 10px
        font-size: 13px!important
        text-align: center!important
        border-radius: 50px
        display: table
        cursor: pointer
        text-decoration: none!important
        padding: 6px 20px!important

.ReactModal__Content .ReactModal__Content--after-open
    overflow: initial !important
.ReactModal__Content
    top: 20% !important
    left: 50% !important
    right: auto !important
    bottom: auto
    margin-right: -50% !important
    transform: translate(-50%, -20%) !important
button.fancybox-close 
    position: absolute
    top: -15px !important
    right: -15px !important
    width: 31px
    height: 31px
    cursor: pointer
    z-index: 8040
    background-color: #478be4
    color: #fff
    display: block
    border-radius: 50%
    border: 1px solid #478be4
    box-shadow: 0 0 6px 1px grey
    z-index: 2210 !important
    font-weight: 800

