.foterNewsletter
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  border-top: 1px solid #ddd
  padding: 30px 0
  text-align: center
  background: #eb0028
  color: #fff

  .newsletterBlock
    -webkit-display: -webkit-flex
    display: -webkit-flex

    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -ms-flex-direction: row
    flex-direction: row
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    -webkit-box-pack: center
    -ms-flex-pack: center
    justify-content: center
    width: 95%
    max-width: 100%
    margin: auto

    -webkit-box-direction: row
    -moz-box-direction: row
    -ms-box-direction: row
    -webkit-flex-direction: row
    -ms-flex-direction: row
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap
    -ms-flex-wrap: wrap
    -webkit-justify-content: center
    -moz-justify-content: center

  .nlMessage
    -webkit-display: -webkit-flex
    display: -webkit-flex
    display: flex
    flex-direction: row
    -webkit-flex-direction: row
    -ms-flex-direction: row
    align-items: center
    -webkit-align-items: center
    -ms-flex-align: center
    justify-content: flex-start
    -webkit-justify-content: flex-start
    -moz-justify-content: flex-start
    -ms-flex-pack: flex-start
    -ms-flex-pack: start

  .nlform
    width: 50%
    display: -webkit-box
    display: -ms-flexbox
    display: flex
    -webkit-box-orient: horizontal
    -webkit-box-direction: normal
    -ms-flex-direction: row
    flex-direction: row
    -webkit-box-align: center
    -ms-flex-align: center
    align-items: center
    -webkit-box-pack: end
    -ms-flex-pack: end
    justify-content: flex-end

    #newsletter:focus
      outline: 0

    input[type="text"]
      -webkit-box-sizing: border-box
      box-sizing: border-box
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      background: #eee
      border: 1px solid #ddd
      height: 40px
      display: block
      float: left
      padding: 0 10px
      width: calc(100% - 50px)
      border-radius: inherit

    button
      -webkit-box-sizing: border-box
      box-sizing: border-box
      background: #fff
      height: 40px
      display: block
      float: left
      border: none
      color: #000
      border-radius: 5px
      margin-left: 10px
      min-width: 100px
      font-size: smaller

  h5,
  label
    -webkit-box-sizing: border-box
    box-sizing: border-box
    font-size: 14px
    text-align: right
    padding-right: 10px
    width: 100%
    font-weight: 400
    position: relative
    top: 5px

#messageBoletin
  margin: 16px 30%
  min-width: 280px
  top: 110px
  left: 40%
  color: #000000
  display: inline-block
  width: 100%
  background: #f2f2f2
  border: 1px solid #EB0028
  padding: 3px 16px 3px 41.6px

  &:before 
    content: "\f071"
    color: #EDB369
    font-family: "Font Awesome 5 Free"
    font-weight: 600
    margin-right: 10px
    
  .ventana_emergente,
  .ventana_sussess
    -webkit-box-sizing: border-box
    box-sizing: border-box
    display: none
    padding: 8px 16px 8px 41.6px
    background: #f2f2f2
    border: 1px solid #c00
    margin: 0 0 12px
    width: 100%
    position: relative

    .active
      display: inline-block

  .ventana_emergente.active
    color: black

input,
textarea,
keygen,
select,
button
  font-family: "Muli", "Roboto", arial, helvetica, sans-serif !important

// responsive
@media only screen and (max-width: 480px)
  .foterNewsletter .nlform
    flex-wrap: wrap !important
    -webkit-box-wrap: wrap
    -webkit-flex-wrap: wrap !important
    -ms-flex-wrap: wrap
    justify-content: space-between !important
    -webkit-justify-content: space-between !important
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify

  .foterNewsletter .nlform input[type="text"]
    width: 100%
    margin: 0 auto 20px

  .foterNewsletter .nlform button
    width: 45%
    margin-left: 0

@media only screen and (max-width: 960px)
  .foterNewsletter .newsletterBlock
    flex-direction: colunm
    -webkit-box-direction: colunm
    -moz-box-direction: colunm
    -ms-box-direction: colunm
    -webkit-flex-direction: colunm
    -ms-flex-direction: colunm

  .foterNewsletter .nlMessage
    margin-bottom: 20px
    text-align: center !important
    width: 100%

  .foterNewsletter h5,
  .foterNewsletter label
    width: 100%
    text-align: center

  #messageBoletin
    margin: -4px 15% 16px
    min-width: 280px

  .foterNewsletter .nlform
    width: 100%