//VARIABLES
$ColorBlanco: #fff

//MIXINS
@mixin lista
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  flex-direction: row

@mixin display
  display: -webkit-box
  display: -ms-flexbox
  display: flex

@mixin center
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

@mixin web-center($posicion)
  -webkit-box-pack: $posicion
  -ms-flex-pack: $posicion

@mixin box
  -webkit-box-sizing: border-box
  box-sizing: border-box

.header__inferior
  -webkit-box-sizing: content-box
  box-sizing: content-box
  background: #eb0028
  font-weight: 300
  min-height: 42px
  position: relative
  top: 0
  width: 100%
  height: 0px

  .container
    margin: auto

  .productosHead
    width: 175px
    max-width: 175px
    min-width: 175px
    margin-left: 0

    li
      webkit-display: -webkit-flex !important
      display: -webkit-flex !important
      display: flex !important
      align-items: center
      -webkit-align-items: center
      -ms-flex-align: center
      justify-content: center
      -webkit-justify-content: center
      -moz-justify-content: center
      -ms-flex-pack: center
      text-align: center
      color: #fff
      height: 42px
      cursor: pointer

      a
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        text-decoration: none
        webkit-display: -webkit-flex !important
        display: -webkit-flex !important
        display: flex !important
        align-items: center
        -webkit-align-items: center
        -ms-flex-align: center
        justify-content: center
        -webkit-justify-content: center
        -moz-justify-content: center
        -ms-flex-pack: center
        padding: 0 10px
        width: 100%
        color: #fff
        font-weight: 500

  .categorias,
  .productosHead
    width: 80%

    ul
      @include lista
      @include web-center(start)
      justify-content: flex-start
      padding: 0 //ag
      left: 10px //ag
      position: relative //ag

    li
      @include display
      @include center
      @include web-center(center)
      justify-content: center
      text-align: center
      color: $ColorBlanco
      height: 42px
      cursor: pointer

      a
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        text-decoration: none
        webkit-display: -webkit-flex !important
        display: -webkit-flex !important
        display: flex !important
        align-items: center
        -webkit-align-items: center
        -ms-flex-align: center
        justify-content: center
        -webkit-justify-content: center
        -moz-justify-content: center
        -ms-flex-pack: center
        padding: 0 10px
        width: 100%
        color: #fff
        font-weight: 500

  ol, ul
    list-style: none

  .productosNewCat
    @include box
    background: #cc001e
    padding: 0 8px
    width: 100%
    position: relative
    font-size: 0.9rem
    font-weight: 300
    right: 16px
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box

    &:hover .menuHeader
      max-height: 650px
      height: auto
      overflow: inherit
      border: 1px solid #ddd !important

    &:hover:after
      content: ""
      font-family: "Font Awesome 5 Free"

    > .menuHeader
      background: #fafafa

    &:after
      content: "\f107"
      font-family: "Font Awesome 5 Free"
      color: $ColorBlanco
      font-weight: 600

    a
      @include box
      color: inherit
      text-decoration: none
      @include display
      @include center
      width: 100%
      font-weight: 500
      font-size: 0.9rem
      padding: initial

    & > a
      @include web-center(justify)
      justify-content: space-between
      color: $ColorBlanco

    .menuHeader
      @include box
      background: rgba(255, 255, 255, 0.95)
      display: block !important
      color: black
      max-height: 0
      height: 0
      position: absolute
      overflow: hidden ////////////////////////
      border: inherit
      margin-top: 34px
      left: 0
      top: 8px
      width: 100%
      z-index: 110

      a
        -webkit-box-pack: start
        -ms-flex-pack: start
        justify-content: flex-start
        color: #222

      > .subMenu
        max-width: 940px !important
        padding: inherit
        min-height: 318px

        dl
          border-right: 1px solid #ddd
          text-align: initial

          > dd > a,
          > dt > a
            //////// padding-bottom: 8px
            font-weight: 300
            position: relative
            width: 100%
            display: block !important
            font-size: 18px

          a, p,> dl a, > dl p
            display: table !important
            text-align: left
            padding: initial
            position: relative

        > dl:hover dd > dl,
        > dl:hover dt > dl
          webkit-display: -webkit-flex !important
          display: -webkit-flex !important
          display: flex !important
          flex-direction: row
          -webkit-box-direction: row
          -moz-box-direction: row
          -ms-box-direction: row
          -webkit-flex-direction: row
          -ms-flex-direction: row
          flex-wrap: wrap !important
          -webkit-box-wrap: wrap
          -webkit-flex-wrap: wrap
          -ms-flex-wrap: wrap
          align-content: flex-start
          -webkit-align-content: flex-start
          -ms-flex-content: flex-start

        > dl
          -moz-box-sizing: border-box
          -webkit-box-sizing: border-box
          box-sizing: border-box
          webkit-display: -webkit-flex !important
          display: -webkit-flex !important
          //display: flex !important
          flex-direction: row
          -webkit-box-direction: row
          -moz-box-direction: row
          -ms-box-direction: row
          -webkit-flex-direction: row
          -ms-flex-direction: row
          justify-content: space-between
          -webkit-justify-content: space-between
          -moz-justify-content: space-between
          -ms-flex-pack: space-between
          -ms-flex-pack: justify
          ///////////padding: 3px 0 3px 10px !important
          padding: 0 0 0 10px
          width: 250px !important
          /////background: green// #fafafa
          background: #fafafa
          // top: -7px
          // left: -8px
          //position: relative
          margin: 0 /////////

          &:hover
            background: #ddd

          > dd,
          > dt,
          > dd,
          > dt
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            padding-right: 8px
            font-size: 0.8rem
            position: inherit !important
            width: 100%

            > a:after
              content: ""
              font-family: "Font Awesome 5 Free"
              position: absolute
              -webkit-transform: translateY(-50%)
              -moz-transform: translateY(-50%)
              -ms-transform: translateY(-50%)
              transform: translateY(-50%)
              top: 50%
              color: #aaa
              right: 0
              font-weight: 600

          > dd > dl,
          > dt > dl
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            webkit-display: -webkit-flex
            flex-direction: row
            -webkit-box-direction: row
            -moz-box-direction: row
            -ms-box-direction: row
            -webkit-flex-direction: row
            -ms-flex-direction: row
            background: #fff
            border: 1px solid #ddd
            display: none !important
            height: auto
            left: 250px//240px
            min-height: 477px
            width: 985px !important
            padding: 8px
            position: absolute
            top: -1px
            //top: -5px
          ul
            webkit-display: -webkit-flex
            display: -webkit-flex
            display: flex
            flex-direction: column
            -webkit-box-direction: column
            -moz-box-direction: column
            -ms-box-direction: column
            -webkit-flex-direction: column
            -ms-flex-direction: column
            justify-content: flex-end
            -webkit-justify-content: flex-end
            -moz-justify-content: flex-end
            -ms-flex-pack: flex-end
            -ms-flex-pack: end
            font-weight: 300

            li
              height: initial
              margin-bottom: 5.33px

              &:hover
                background: $ColorBlanco !important

              a
                font-size: 0.7rem
                color: #333 !important
                display: table
                text-align: left

          > dd > dl > dd > dl > dd,
          > dd > dl > dd > dl > dt,
          > dd > dl > dt > dl > dd,
          > dd > dl > dt > dl > dt,
          > dt > dl > dd > dl > dd,
          > dt > dl > dd > dl > dt,
          > dt > dl > dt > dl > dd,
          > dt > dl > dt > dl > dt
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            font-weight: 400
            padding-left: 15px
            width: 25%
            padding-right: 10px

            > ul
              padding-top: 4px

              > li a
                font-weight: 300
                font-size: 14px
                line-height: 19px

            > a
              font-weight: 400
              font-size: 18px
              border-bottom: 1px solid #ddd
              padding-bottom: 5px !important
              color: #eb0028 !important

          &:hover > dt > a:after
            color: #666

          > dd > dl > dd > dl,
          > dd > dl > dt > dl,
          > dt > dl > dd > dl,
          > dt > dl > dt > dl
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            webkit-display: -webkit-flex
            display: -webkit-flex
            display: flex
            flex-direction: row
            -webkit-box-direction: row
            -moz-box-direction: row
            -ms-box-direction: row
            -webkit-flex-direction: row
            -ms-flex-direction: row
            min-width: 20%

          > dd > dl > dt > dl > dd,
          > dd > dl > dt > dl > dt,
          > dt > dl > dt > dl > dd,
          > dt > dl > dt > dl > dt
            min-width: 25%
            min-height: 100px

            .more
              min-width: 25%
              min-height: 100px

              > ul
                -moz-box-sizing: border-box
                -webkit-box-sizing: border-box
                box-sizing: border-box
                width: 100%
                float: left

        > dd,
        > dt
          -moz-box-sizing: border-box
          -webkit-box-sizing: border-box
          box-sizing: border-box
          padding-right: 8px
          font-size: 0.8rem
          position: inherit !important
          width: 100%

          > dl > dt
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            width: 100%

    .subMenu
      *zoom: 1
        box-sizing: border-box
        color: #222
        font-weight: 300
        height: auto
        margin: auto
        max-width: 80%
        min-height: 298px
        padding: 16px 0

      dt
        moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        font-weight: 400
        /////margin: 5px 0
        margin-top: 5px
        margin-bottom: 1px
        position: relative
        width: 100%

        a
          justify-content: flex-start
          -webkit-justify-content: flex-start
          -moz-justify-content: flex-start
          -ms-flex-pack: flex-start
          -ms-flex-pack: start
          color: #222 !important

      dl:last-child
        border-right: inherit

  ////nav promoHeader
  .promoHeader
    //width: calc(93% - 175px)
    width: 93%
    margin-left: -46px
    font-size: 1rem
    font-weight: 500
    display: block

    .menuCredito:after,
    .menuMarcas:after,
    .menuMesa:after
      content: "\f107"
      font-family: "Font Awesome 5 Free"
      margin: 0 5px
      color: #fff
      font-weight: 600

    .menuMarcas:hover:after,
    .menuMesa:hover:after,
    .menuCredito:hover:after,
    .productosHead:hover:after
      content: ""
      font-family: "Font Awesome 5 Free"
      color: #fff
      font-weight: 600

    > ul > li > a,
    > ul > li > div,
    > ul > li > span
      font-weight: 500

    a
      box-sizing: border-box
      display: flex !important
      -webkit-align-items: center
      -ms-flex-align: center
      justify-content: center
      -webkit-justify-content: center
      -moz-justify-content: center
      -ms-flex-pack: center
      padding: 5px 15px 5px 10px
      min-height: 42px
      color: #4d4d4d
      font-weight: 300

    ul
      webkit-display: -webkit-flex !important
      display: -webkit-flex !important
      flex-direction: row
      -webkit-box-direction: row
      -moz-box-direction: row
      -ms-box-direction: row
      -webkit-flex-direction: row
      -ms-flex-direction: row
      justify-content: flex-start
      -webkit-justify-content: flex-start
      -moz-justify-content: flex-start
      -ms-flex-pack: flex-start
      -ms-flex-pack: start
      display: flex

    li
      display: flex !important
      align-items: center
      -webkit-align-items: center
      -ms-flex-align: center
      justify-content: center
      -webkit-justify-content: center
      -moz-justify-content: center
      -ms-flex-pack: center
      text-align: center
      color: #fff
      border-right: 1px solid #fff
      min-width: 160px !important
      position: relative

      .marcasExt
        border-top: 1px dashed #ddd

      .marcasInt
        a
          &:hover
            background: #fff !important

      .marcasInt,
      .marcasExt
        padding: 10px

        h4
          text-align: left
          color: #333 !important
          width: 100%
          padding-top: 0 !important
          font-size: 0.9rem !important
          padding: 16px 0 !important

        a
          -moz-box-sizing: border-box
          -webkit-box-sizing: border-box
          box-sizing: border-box
          height: 0
          min-height: auto

        ul
          width: 100%
          webkit-display: -webkit-flex
          display: -webkit-flex
          display: flex
          flex-direction: row
          -webkit-box-direction: row
          -moz-box-direction: row
          -ms-box-direction: row
          -webkit-flex-direction: row
          -ms-flex-direction: row
          flex-wrap: wrap
          -webkit-box-wrap: wrap
          -webkit-flex-wrap: wrap
          -ms-flex-wrap: wrap
          justify-content: unset
          -webkit-justify-content: unset
          -moz-justify-content: unset
          -ms-flex-pack: unset

          img
            max-width: 185px
            width: 100%

      .contentCredito,
      .contentMesa
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 0
        width: calc(100vw - 250px) !important
        max-width: 170px
        background: $ColorBlanco
        position: absolute

        a
          min-height: 35px
          padding: 5px 25px 5px 10px

        ul
          flex-direction: column
          -webkit-box-direction: column
          -moz-box-direction: column
          -ms-box-direction: column
          -webkit-flex-direction: column
          -ms-flex-direction: column
          padding: 0px

          li
            margin-left: 0
            border-right: none
            text-align: left !important

            a
              justify-content: flex-start
              -webkit-justify-content: flex-start
              -moz-justify-content: flex-start
              -ms-flex-pack: flex-start
              -ms-flex-pack: start
              min-height: 42px
              color: #4d4d4d
              font-weight: 300
              padding: 5px 15px 5px 10px
              display: block

              &:hover
                background: #d1d1d1 !important

      .contentMarcas
        -moz-box-sizing: border-box
        box-sizing: border-box
        padding: 10px
        width: 1045px !important
        left: 0

      .contentMesa a:after
        content: "\f105"
        font-family: "Font Awesome 5 Free"
        position: absolute
        right: 5px
        margin: 0 3px
        color: #000
        font-weight: 600

      .contentMarcas,
      .contentMesa
        -webkit-box-sizing: border-box
        background: #fff
        border: 1px solid #ddd
        position: absolute
        top: 40px
        margin-top: 2px

      .menuCredito:hover > a,
      .menuCredito:hover > div,
      .menuCredito:hover > span,
      .menuMarcas:hover > a,
      .menuMarcas:hover > div,
      .menuMarcas:hover > span,
      .menuMesa:hover > a,
      .menuMesa:hover > div,
      .menuMesa:hover > span
        color: #fff
        min-width: 100px

    li
      display: -webkit-flex !important
      webkit-display: -webkit-flex !important

    > ul > li > a
      color: #fff

    a
      box-sizing: border-box
      display: flex !important
      -webkit-align-items: center
      -ms-flex-align: center
      justify-content: center
      -webkit-justify-content: center
      -moz-justify-content: center
      -ms-flex-pack: center
      padding: 5px 15px 5px 10px
      min-height: 42px
      color: #4d4d4d
      font-weight: 300

  a, > ul > li > span
    webkit-display: -webkit-flex !important
    display: -webkit-flex !important
    align-items: center
    width: 100%
    text-decoration: none

  .menuMarcas:hover,
  .menuMesa:hover,
  .menuCredito:hover,
  .alone:hover
    background-color: #cd2827
    color: $ColorBlanco

  //nav menuTiendas
  .menuTiendas
    @include box
    width: 32% !important

    ul
      @include lista
      @include web-center(justify)
      justify-content: space-between

    li
      @include box
      @include display
      @include center
      @include web-center(justify)
      justify-content: space-between
      color: $ColorBlanco
      background: #c00
      height: 42px
      min-width: 96px
      text-align: center
      width: 33.3%

      &:hover
        background: $ColorBlanco !important
        color: #000

    a
      color: inherit
      text-decoration: none
      @include display
      @include center
      @include web-center(center)
      justify-content: center
      width: 100%
      height: 100%
      font-weight: 500
      font-size: 1rem

      &:hover
        background-color: $ColorBlanco
        color: #222
        font-weight: 400

    .tiendas
      border-right: 1px solid $ColorBlanco

  .hide
    display: none

.mall
  &:hover .contentServicios
    display: block
    top: 40px

  .contentServicios
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    position: absolute
    display: none
    background: $ColorBlanco !important
    max-width: 140px
    top: 40px
    border: 1px solid #ddd
    margin-top: 2px

    ul
      display: flex
      flex-direction: column
      -webkit-box-direction: column
      -moz-box-direction: column
      -ms-box-direction: column
      -webkit-flex-direction: column
      -ms-flex-direction: column
      padding-left: 0
      padding-right: 23px

    li
      box-sizing: border-box
      align-items: center
      -webkit-align-items: center
      -ms-flex-align: flex-start
      height: auto
      background: $ColorBlanco
      color: #000
      min-width: 138px
      display: flex

      a
        justify-content: flex-start
        -webkit-justify-content: flex-start
        -moz-justify-content: flex-start
        -ms-flex-pack: flex-start
        -ms-flex-pack: start
        font-size: 14px
        padding: 0 10px !important
        //height: 35px
        min-height: 42px
        text-align: left
        color: #4d4d4d !important
        font-weight: 300 !important
        display: block

      :hover
        background: #ddd !important
        max-width: 100%

      a:after
        content: "\f105"
        font-family: "Font Awesome 5 Free"
        position: absolute
        right: 10px
        font-weight: 600

.menuCredito,
.menuMesa,
.menuMarcas
  &:hover .contentCredito,
  &:hover .contentMesa,
  &:hover .contentMarcas
    display: block
    top: 40px

  .contentMesa a:after
    content: "\f105"
    font-family: "Font Awesome 5 Free"
    position: absolute
    right: 5px
    margin: 0 3px
    color: #000
    font-weight: 600

  .contentMarcas
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    position: absolute
    display: none
    background: $ColorBlanco !important
    max-width: 1045px
    top: 40px
    border: 1px solid #ddd
    margin-top: 2px

  .contentCredito,
  .contentMesa
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    position: absolute
    display: none
    background: $ColorBlanco !important
    max-width: 160px
    top: 40px
    border: 1px solid #ddd
    margin-top: 2px

    ul
      display: flex
      flex-direction: column
      -webkit-box-direction: column
      -moz-box-direction: column
      -ms-box-direction: column
      -webkit-flex-direction: column
      -ms-flex-direction: column
      padding-left: 0
      padding-right: 23px

    li
      box-sizing: border-box
      align-items: flex-start
      -webkit-align-items: flex-start
      -ms-flex-align: flex-start
      height: auto
      background: $ColorBlanco
      color: #000
      width: 100%

      a
        justify-content: flex-start
        -webkit-justify-content: flex-start
        -moz-justify-content: flex-start
        -ms-flex-pack: flex-start
        -ms-flex-pack: start
        min-height: 42px
        color: #4d4d4d
        font-weight: 300
        padding: 5px 15px 5px 10px
        display: block

      &:hover
        background: #ddd !important
        // width: 100% !important

  .contentCredito,
  .contentMesa
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    position: absolute
    display: none
    background: $ColorBlanco !important
    max-width: 160px
    top: 40px
    border: 1px solid #ddd
    margin-top: 2px

    ul
      display: flex
      flex-direction: column
      -webkit-box-direction: column
      -moz-box-direction: column
      -ms-box-direction: column
      -webkit-flex-direction: column
      -ms-flex-direction: column
      padding-left: 0
      padding-right: 23px

    li
      box-sizing: border-box
      align-items: flex-start
      -webkit-align-items: flex-start
      -ms-flex-align: flex-start
      height: auto
      background: $ColorBlanco
      color: #000
      width: 100%

      a
        justify-content: flex-start
        -webkit-justify-content: flex-start
        -moz-justify-content: flex-start
        -ms-flex-pack: flex-start
        -ms-flex-pack: start
        min-height: 42px
        color: #4d4d4d
        font-weight: 300
        padding: 5px 15px 5px 10px
        display: block

      &:hover
        background: #ddd !important
        // width: 100% !important

.menuTiendas li.mall:hover a
  color: #222 !important
  font-weight: 400

//////-------MEDIA Q-------------------////////
@media only screen and (min-width: 781px)
  .promoHeader
    //width: calc(93% - 175px)
    width: 93%
    margin-left: -46px
    font-size: 0.9rem !important
    font-weight: 500
    display: block
    bottom: 7px

@media only screen and (max-width: 780px)
  .navegacionM
    background: rgba(10,10,10,.7)
    &>dl
      width: 100%
    &>dl, &>dl>dd
      margin: 0!important

    .categorias ul,
    .productosHead ul
      bottom: 8px !important

@media only screen and (max-width: 897px)
  .menuTiendas
    left: -38px
    position: relative

@media only screen and (max-width: 960px)
  .promoHeader > ul > li:nth-child(1n + 4)
    display: none !important

  .menuHeader > .subMenu > dl dt > dl
    width: calc(100vw - 215px) !important

@media only screen and (max-width: 1100px) and (min-width: 961px)
  .menuHeader > .subMenu > dl dt > dl
    width: calc(100vw - 330px) !important

@media only screen and (max-width: 1500px)
  .promoHeader li .marcasExt a,
  .promoHeader li .marcasInt a
    padding: 35px 10px

  .promoHeader li .contentMarcas
    width: calc(100vw - 248px) !important
