.header__movil,
.navegacionM > dl.navRecomendados.show > dd dl > dt
    padding: initial

.header__movil.view .navegacionM
    display: none
    overflow: scroll
    position: absolute
    width: 100%
    // height: calc(100vh - 107px)

.header__movil .navegacionM
    display: none
.subir
    // position: relative
    margin-top: -45px
.navegacionM
    background: rgba(10,10,10,.7)
    &>dl
        width: 100%
        &>dt
            padding: 11px //16px
            cursor: pointer
            color: #fff
            position: relative
            font-weight: 300
            &:after
                position: absolute
                font-size: .8rem
        &>dd
            overflow: hidden
            display: none

        &>dd>dl>dt.show+dd
            display: block
            cursor: pointer
            color: #000
            position: relative
            font-weight: 300
            border-bottom: 1px solid #DDD
            -webkit-tap-highlight-color: transparent
        ul
            list-style: none
            margin-left: -40px
        >dd>dl>dd li
            border-bottom: 1px solid #DDD
            background: #f2f2f2
            a
                text-decoration: none
                display: block
                color: #666
                padding: 12px 16px 12px 48px

    &>dl>dd>dl>dt:after,
    &>dl>dt:after
        right: 16px
        position: absolute
    &>dl>dd>dl>dt:after
        position: absolute
        font-size: .6rem
        color: #666

    // &>dl>dd>dl>dt:after,
    &>dl.navRecomendados>dt:after,
    &>dl.navProductos>dt:after
        right: 16px
        content: ""
        font-family: "Font Awesome 5 free"
        font-weight: 600
        bottom: 15px

    &>dl.navRecomendados>dd>dt.dt-title
        margin-left: 30px
        font-weight: 400

    &>dl.navProductos>dt,
    &>dl.navSears>dt,
    &>dl.navRecomendados>dt,
    &>dl.navSubastas>dt
        background: #CC001E

    >dl.navProductos.show>dd,
    >dl.navRecomendados.show>dd,
    >dl.navSears.show>dd,
    >dl.navServicios.show>dd,
    >dl.navSubastas.show>dd,
    >dl.navTiendas.show>dd
        display: block
        background: #fff

    &>dl.navProductos.show>dt:after,
    &>dl.navRecomendados.show>dt:after,
    &>dl.navSears.show>dt:after,
    &>dl.navServicios.show>dt:after,
    &>dl.navSubastas.show>dt:after,
    &>dl.navTiendas.show>dt:after
        content: ""
        font-family: "Font Awesome 5 Free"
        font-weight: 600

    &>dl.navRecomendados.show>dd dl>dt
        padding: initial
        a
            color: inherit
            text-decoration: none
            display: block
            padding: 16px 16px 16px 32px

    &>dl>dd>dl
        font-size: .8rem
        &>dt
            padding: 16px 16px 16px 32px
            cursor: pointer
            color: #000
            position: relative
            font-weight: 300
            border-bottom: 1px solid #DDD
            a
                color: inherit
                text-decoration: none
                &:hover
                    text-decoration: underline
                    color: #1F97AE
        &>dd
            display: none
            li
                border-bottom: 1px solid #DDD
                background: #f2f2f2
                a
                    text-decoration: none
                    display: block
                    color: #666
                    padding: 12px 16px 12px 48px

    >dl.navSears a
        color: inherit
        text-decoration: none
        display: block
        i
            float: right

.fa
    display: inline-block
    font: normal normal normal 14px/1 Font Awesome 5 Free
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
.fa-chevron-right:before
    content: "\f054"

.desktopMenu.close:before
    content: ""
    font-family: "Font Awesome 5 Free"
    font-weight: 600

@media only screen and (max-width: 780px)
    header.viewSearch .header__movil.view .navegacionM
        height: calc(100vh - 85px)
    .header__superior, .header__inferior
        display: none !important

    .header__movil
        display: inline
    header.viewSearch [class*="__middle"],
    header.viewSearch [class*="__middle"] .container
        min-height: 103px!important

@media only screen and (min-width: 781px)
    .header__movil
        display: none
