 /*VARIABLES*/
$ColorRojo: #c00
$ColorBlanco: #fff
$ColorGris: #ddd
$ColorGrisOscuro: #555

.dropdown-item.active, .dropdown-item:active
  color: #fff
  text-decoration: none
  background-color: #fff !important

@mixin box
  -webkit-box-sizing: content-box
  box-sizing: content-box

@mixin input
  -webkit-box-sizing: border-box
  box-sizing: border-box
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none

@mixin contenedor
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  flex-direction: row
  -webkit-box-pack: justify
  -ms-flex-pack: justify
  justify-content: space-between

@mixin direccion
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-orient: horizontal
  -webkit-box-direction: normal
  -ms-flex-direction: row
  // flex-direction: row

 /*Nav completo*/
.header__middle
  @include box
  background: $ColorBlanco
  font-size: 1.3rem
  min-height: 45px
  position: relative
  -moz-box-sizing: content-box
  padding: 5px 0

  .fatamano
    font-size: 1.8em !important
    color: #616161

  .container
    -webkit-display: -webkit-flex
    display: -webkit-flex
    display: flex
    flex-direction: row
    -webkit-box-direction: row
    -moz-box-direction: row
    -ms-box-direction: row
    -webkit-flex-direction: row
    -ms-flex-direction: row
    justify-content: space-between
    -webkit-justify-content: space-between
    -moz-justify-content: space-between
    -ms-flex-pack: space-between
    -ms-flex-pack: justify
    align-items: center
    -webkit-align-items: center
    -ms-flex-align: center
    min-height: 45px

  .desktopMenu
    opacity: 1
    filter: alpha(opacity=100)
    display: block
    margin-left: 10px
    display: block !important
    opacity: 0
    filter: alpha(opacity=0)
    -o-transition: 1s
    -ms-transition: 1s
    -moz-transition: 1s
    -webkit-transition: 1s
    transition: 1s

    &:before
      content: ""
      font-family: "Font Awesome 5 Free"
      color: #eb0028
      cursor: pointer
      font-size: 1.5rem
      margin-left: 5px
      font-weight: 600

  .header__logo
    color: inherit
    text-decoration: none
    color: $ColorGrisOscuro
    display: table
    font-size: 0.95rem
    font-weight: 300
    height: 65px
    margin-top: initial
    position: relative
    text-indent: -1000px
    width: 200px

    &:before
      background: url(/img/logo-sears.svg) no-repeat
      content: " "
      float: left
      height: 38px
      margin-top: 14px
      width: 160px
      background-size: 100%

  section
    padding: 0

  .search
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    //padding: 0 32px 0 8px !important
    min-width: 30%
    width: 60%

    .contSearch
      @include contenedor
      width: 100% !important
      border: 1px solid $ColorGris
      border-radius: 5px
      background: #eee
      position: relative
      height: 40px

    .input2
      @include input
      @include direccion
      width: 100%
      border-radius: 5px 0 0 5px
      background: $ColorBlanco
      overflow: hidden
      width: 100%
      #search:focus
        outline: 0

    input[type="search"]
        @include input
        width: calc(100% - 50px)
        border-radius: 5px
        height: 40px
        padding: 10px
        border: none
        font-size: 0.9rem

    .bt__search
      @include box
      background: $ColorRojo
      width: 100%
      min-width: 30px
      max-width: 50px
      border-radius: 0 5px 5px 0
      cursor: pointer
      border: 1px solid $ColorRojo
      font-size: 1rem
      padding: 0 0 2px

      &:before
        content: ""
        background: url(/img/buscador.svg) no-repeat center
        display: block
        width: 20px
        height: 20px
        margin: 0 auto
        font-weight: 600
        color: #fff

    #recentSearch
      display: none

.header__superior,
.header__middle,
.header__inferior
  width: 100% !important

.header__superior .container,
.header__middle .container,
.header__inferior .container
  @include contenedor
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center

.menuPrincipal
  color: $ColorGrisOscuro
  display: -webkit-flex
  display: flex
  flex-direction: row
  -webkit-flex-direction: row
  -ms-flex-direction: row
  justify-content: space-between
  -webkit-justify-content: space-between
  -moz-justify-content: space-between
  -ms-flex-pack: space-between
  -ms-flex-pack: justify
  min-width: 280px
  z-index: 120
  width: 30%

  ul
    display: -webkit-flex
    display: flex
    flex-direction: row
    -webkit-flex-direction: row
    -ms-flex-direction: row
    justify-content: space-around
    -webkit-justify-content: space-around
    -moz-justify-content: space-around
    -ms-flex-pack: space-around
    -ms-flex-pack: justify
    align-items: center;
    -webkit-align-items: center
    -ms-flex-align: center
    height: 50px
    width: 100%

    li
      @include box
      display: -webkit-box
      display: -ms-flexbox
      display: flex
      font-size: 0.8rem
      text-align: center
      margin-left: -1px
      position: relative
      &:hover.login .box__login
        opacity: 1
        filter: alpha(opacity=100)
        visibility: visible
      a 
        color: inherit
        text-decoration: none
        display: table
      .login, .ayuda
        position: relative
        .log:before
          content: " "
          background: url(https://resources.sears.com.mx/medios-plazavip/swift/v1/Sears/assets/css/img/tri.png) center no-repeat
          position: relative
          width: 100%
          height: 20px
          top: 31px
          z-index: 260
          top: 40px !important
        a
          width: 100px
          height: 30px
          margin-right: 5px
          text-align: left
          font-weight: 300
          color: #4d4d4d
          &:before
            content: ""
            font-family: "font awesome 5 free" //icoSears
            font-size: 25px
            font-size: 1.66667rem
            color: #4d4d4d
            width: 24px
            font-weight: 600
          &:before
            content: " "
            background-size: 100%
            width: 25px
            height: 25px
            margin: 0 5px 5px 0
            display: table
            float: left
            text-align: center

          span
            display: block
            font-size: .6em
            font-weight: 700

          .box__login
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            position: absolute
            padding: 16px
            bottom: -10px
            top: 50px
            left: -100px
            width: 250px
            background: #fff
            border: 1px solid #DDD
            display: none
            border-radius: 5px
            box-shadow: 1px 2px 5px rgba(50,50,50,.4)
            z-index: 100
            text-align: center
            transform: translate3d(0px, 15px, 0px)

            .menuPrincipal li.ayuda .box__ayuda dl,
            .menuPrincipal li.ayuda .box__login dl,
            .menuPrincipal li.login .box__ayuda dl,
            .menuPrincipal li.login .box__login dl
              font-size: .8rem
              color: #666
              padding-bottom: 8px
              padding-top: 8px
            a
              height: auto
              width: auto

            dl.logIn
              border-bottom: none!important
            dl:nth-child(1)
              padding-top: initial
            .logIn
              padding-top: 8px!important
              a
                display: block
                margin: auto!important
                width: 160px!important
                padding: 8px 0!important
                text-align: center!important

            dl
              dt
                margin-bottom: 4px
              a
                font-weight: 400
                color: #666
                padding: 4px

  .menuAnim
    li:hover.login .box__login
      opacity: 1
      filter: alpha(opacity=100)
      visibility: visible
    li.login .box__login
      display: table!important
      visibility: hidden
      opacity: 0
      -webkit-transition: .5s
      -moz-transition: .5s
      -o-transition: .5s
      -ms-transition: .5s
      transition: .5s
    li.login.log .box__login
      display: table

  .buscar
    display: none

    a:before
      content: "zz"
      background: url(https://resources.sears.com.mx/medios-plazavip/swift/v1/Sears/assets/css/vector/icon-search-dark.svg);
      height: 25px
      width: 20px

    a:before
      background-size: contain
      background-repeat: no-repeat
      background-position: center

    a:before
      content: " "
      background-size: 100%
      width: 25px
      height: 25px
      margin: 0 5px 5px 0
      display: table
      float: left
      text-align: center

  .buscar a,
  .ayuda a,
  .wishlist a,
  .login a,
  .cart a
    display: table

  .buscar > a,
  .ayuda > a,
  .wishlist > a,
  .login > a,
  .cart > a
    width: 100px
    height: 30px
    margin-right: 5px
    text-align: left
    font-weight: 300
    color: #222

  .buscar a span,
  .ayuda a span,
  .wishlist a .pru,
  .login a span,
  .cart a span
    display: block
    font-size: 0.6em
    font-weight: 700

  .buscar > a:before,
  .ayuda > a:before,
  .wishlist > a:before,
  .login > a:before,
  .cart > a:before
    content: " "
    background-size: 100%
    width: 25px
    height: 25px
    margin: 0 5px 5px 0
    display: table
    float: left
    text-align: center

  .ayuda
    display: none !important

  .wishlist
    display: block
    margin-left: 10px
    width: 100px

    .notification .push
      display: none

    .push
      display: none
      position: absolute
      color: $ColorBlanco
      background-color: $ColorRojo
      padding: 3px 5px
      border-radius: 10px
      font-size: 0.7rem
      top: -9px
      left: 17px

    a:before
      content: ""
      background-image: url(/img/buscador.svg)
      position: absolute
      width: 48px
      height: 45px
      top: 8px
      background-size: cover
      right: -60px

  .login
    position: relative

    &:hover .dropdown-menu
      display: block

    a
      display: block
      margin: auto !important
      max-width: 160px !important
      padding: 0 !important
      //text-align: center !important
      text-decoration: none
      width: 100px
      height: 30px
      font-weight: 300
      color: #4d4d4d
      position: relative
      top: 10px
      line-height: 1em
      font-size: 0.9em

      span
        display: block
        font-weight: 700

      &:before
        background-image: url(https://resources.sears.com.mx/medios-plazavip/swift/v1/Sears/assets/css/vector/userLogin2.svg)
        color: #4d4d4d
        width: 20px
        height: 25px

    p
      padding: 8px 0 2px
      line-height: 1.2em

    .redBtn,
    .standardBtn
      padding: 8px 0 !important
      -webkit-transition: all 0.3s 0.3s
      -moz-transition: all 0.3s 0.3s
      -o-transition: all 0.3s 0.3s
      -ms-transition: all 0.3s 0.3s
      transition: all 0.3s 0.3s
      box-sizing: border-box
      margin-bottom: 10px
      font-size: 13px !important
      text-align: center !important
      border-radius: 50px
      display: table
      cursor: pointer
      text-decoration: none !important
      padding: 8px 0 !important
      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box

    .redBtn
      background-color: #eb0028
      border: 1px solid #eb0028
      color: #fff !important
      font-weight: 300 !important

    .standardBtn
      height: auto !important
      background-color: #fff !important
      border: 1px solid #666
      color: #666 !important
      font-weight: 300

  .box__login
    @include box
    position: absolute
    padding-bottom: 0
    top: 57px
    left: -100px
    width: 220px
    background: $ColorBlanco
    border: 1px solid $ColorGris
    display: none
    border-radius: 5px
    -webkit-box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.4)
    box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.4)
    z-index: 100

    &:before
      content: " "
      background: url(/img/tri.webp) no-repeat center
      position: absolute
      width: 100%
      height: 20px
      bottom: 153px
      left: 20px
      z-index: 160
      top: -20px

    p
      display: block
      width: 100%
      font-size: 0.8rem
      padding-top: 10px !important
      text-align: center

    dl
      font-size: 0.8rem
      color: $ColorGrisOscuro
      padding-bottom: 8px
      padding-top: 8px

    a
      height: auto
      width: 160px
      max-width: 160px !important

    dl:not(.logIn) a
      color: #666
      text-align: left
      padding: 4px
      width: 100%

    .log
      a
        color: rgb(104, 104, 104) !important
        text-align: left !important
        padding: 4px 0
        margin: 4px auto 0
        font-size: 0.8rem
        font-weight: normal
        line-height: 0.7em

      a:hover
        color: #1f97ae !important

    .logOut
      display: block
      margin-top: 5px
      margin-bottom: 0
      padding-bottom: 0
      text-align: center

      .log2
        p,a
          line-height: 0.1em !important

      p
        display: block
        width: 100%
        font-size: 0.8rem
        padding-right: 0
        padding-bottom: 0

      a
        color: #1f97ae !important
        text-align: center !important
        padding: 4px 0
        margin: 4px auto 0

      dt
        font-size: 0.8rem
        font-weight: normal
        padding-bottom: 0
        line-height: 0.6em !important

  #wishlist_snippet
    display: none

  .cart
    position: relative
    bottom: 7px

    &:hover .dropdown-menu
      display: block

    a
      text-decoration: none

    .notification .push
      display: block !important

    .push
      position: absolute
      color: #fff
      border-radius: 10px
      font-size: 0.7rem
      min-width: 13px
      background: #eb0028
      padding: 3px 5px
      border-radius: 13px
      right: 70px
      bottom: 10px

    > a
      width: 85px

    > a:before
      content: ""
      font-family: "icoClaroShop"
      font-size: 25px
      font-size: 1.5625rem
      color: #26303c

    a:before
      background-image: url(https://resources.sears.com.mx/medios-plazavip/swift/v1/Sears/assets/css/img/bolsa-57x68.png)
      background-size: cover
      width: 36px
      margin-top: 35px
      height: 42px
      margin-left: -15px
      margin-right: 20px
      margin-bottom: -5px

    .box__carrito
      @include box
      position: absolute
      padding: 16px
      top: 93px
      left: -300px
      width: 390px
      background: $ColorBlanco
      border: 1px solid $ColorGris
      display: none
      border-radius: 5px
      -webkit-box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.4)
      box-shadow: 1px 2px 5px rgba(50, 50, 50, 0.4)
      z-index: 100

      &:before
        content: " "
        display: block
        background: url(/img/tri.webp) no-repeat center
        position: relative
        width: 100%
        height: 20px
        top: -35px
        right: -133px !important
        z-index: 160

      h3
        border-bottom: 1px solid $ColorGris
        text-align: left
        padding-bottom: 8px
        font-size: 0.8em
        font-weight: normal

      .boxCarritoCont
        height: 340px !important
        overflow-y: auto !important

      .botones_cajaPago
        @include contenedor
        -webkit-box-align: start
        -ms-flex-align: start
        align-items: flex-start
        margin: 0 auto
        // width: 100%;

        .botones
          @include contenedor
          width: 100%
          margin-top: 28px

          a
            width: 40% !important
            height: 20% !important

          .botonComprarClick
            background-color: $ColorBlanco
            border: 1px solid #666
            color: #666

            &:hover
              background-color: #666
              color: $ColorBlanco

          .botonComprarAhora
            background-color: #da262d
            border: 1px solid $ColorGris
            color: $ColorBlanco

            &:hover
              background-color: rgb(165, 20, 25)
              color: $ColorBlanco

          .botonComprarAhora,
          .botonComprarClick
            font-size: 13px
            font-size: 0.86667rem
            width: auto !important
            height: auto !important
            border-radius: 50px
            margin-bottom: 10px
            text-align: center !important
            text-decoration: none
            display: table
            padding: 8px 16px
            cursor: pointer
            font-weight: 300

.alinear2
  display: contents
  text-align: left

  .c2
    display: table-cell
    position: relative
    bottom: 20px
    line-height: 1em
    right: 17px
    font-size: 0.9em

.menuAnim
  .dropdown-toggle::after
    display: inline-block
    margin-left: 0.255em
    vertical-align: 0.255em
    content: ""
    border-top: none
    border-right: none
    border-bottom: 0
    border-left: none

  .dropdown-toggle::after
    display: inline-block
    margin-left: 1.95em
    vertical-align: 0.255em
    content: ""
    border-top: none
    border-right: none
    border-bottom: none
    border-left: none

//////------------ RESPONSIVE ----------------/////
@media only screen and (max-width: 400px)
  .header__middle,
  .header__middle .container
    min-height: 45px

  .header__middle .header__logo:before
    width: 100%

@media only screen and (max-width: 480px)
  .container
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 0 20px

@media only screen and (max-width: 760px)
  .header__superior .container
    overflow-x: hidden

  .menuPrincipal
    .menuAnim li.login.log .box__login
      opacity: 1!important
      filter: alpha(opacity=100)!important
      visibility: visible!important

@media only screen and (min-width: 760px)
  .container
    max-width: 1480px
    width: 95%

@media only screen and (min-width: 761px)
  .ad-container,
  .boxbannersFull,
  .breadcrumbF,
  .categboxes,
  .container,
  .landingNew,
  .mainSection,
  .metodosPago,
  .mod__producto,
  .sec__categorias .sec__Internas + h1,
  .sintillo,
  .sliderTiendasSection,
  .slidersDetalleProducto,
  .tabsLoMas
    max-width: 1480px
    width: 95%

@media only screen and (max-width: 780px)
  .menuPrincipal
    width: 100%
    max-width: 100%
    z-index: 2015
    position: fixed
    bottom: 0
    left: 0
    background: #fff
    border-top: 1px solid #ddd

    ul
      height: 60px !important

    .buscar
      display: block !important
      top: 10px

      a:before
        width: 18% !important
        height: 21px !important
        text-align: center !important

    .ayuda
      display: none !important

    .help
      display: block !important

    .ayuda.log:before,
    .cartPreview.log:before,
    .login.log:before
      top: -17px
      transform: rotate(180deg)

    li.ayuda a span,
    li.buscar a span,
    li.cart a span,
    li.help a span,
    li.login a span,
    li.wishlist a span
      display: none

    .buscar a
      width: 100% !important
      //height: 18px !important;
      // text-align: center !important;
      &:before
        width: 46% !important
        position: relative
        left: 5px

    .cart
      position: relative
      a
        width: 100% !important
        &:before
          position: relative
          left: 40px
          margin-bottom: 0
          margin-top: 15px
          bottom: 2px
        .c2
          top: 8px !important
          position: relative !important
          .push
            display: table-caption
            position: relative !important
            top: -20px !important
            right: 0px
            left: 25px

    .login
      position: relative
      bottom: 6px
      left: 10%

      -moz-box-sizing: border-box
      -webkit-box-sizing: border-box
      box-sizing: border-box
      width: 25%!important
      min-height: 28px
      a
        width: 100% !important
        display: block
        margin: auto !important
        max-width: 160px !important
        padding: 0 !important
        //text-align: center !important
        text-decoration: none
        height: 30px
        font-weight: 300
        color: #4d4d4d
        position: relative
        top: 10px
        line-height: 6em
        font-size: 0.9em
        &:before
          background-image: url(https://resources.sears.com.mx/medios-plazavip/swift/v1/Sears/assets/css/vector/userLogin2.svg);
          color: #4d4d4d
          width: 20px
          height: 25px
          position: relative
          left: 40px//15px
          margin-top: -1px

        &>a
          -moz-box-sizing: border-box
          text-align: center
          font-size: 11px
          display: table
        // overflow: hidden
          min-height: 100%

        &>a span
          display: none

  header .viewSearch [class*="__middle"],
  header.viewSearch [class*="__middle"] .container
    min-height: 103px !important

  .header__middle
    padding: 0

  header.viewSearch [class*="__middle"] .header__logo
    margin-top: 8px

  header [class*="__middle"] .header__logo
    width: 130px
    height: 30px
    font-size: 0.6rem
    text-indent: -970px
    margin: auto
    position: static //ag
    //left: 15%; ///ag

  header.fixed [class*="__middle"] .header__logo
    width: 130px !important
    height: 30px !important

  header.fixed [class*="__middle"] .container
    min-height: 45px
    width: 100%

  .header__middle .header__logo:before
    margin-top: 0
    position: relative

  header.fixed [class*="__middle"] .header__logo:before
    width: 130px
    margin-top: 7px
    height: 30px !important

  header.fixed [class*="__middle"] .desktopMenu
    display: block
    margin-left: 0
    left: 10px
    position: absolute
    top: 11px
    opacity: 1 !important

  header [class*="__middle"] .desktopMenu
    position: absolute
    margin-left: 0
    left: 10px
    top: 11px
    opacity: 1
    filter: alpha(opacity=1)

  header [class*="__middle"] .desktopMenu.close:before
    content: ""
    font-family: "Font Awesome 5 Free"

  header [class*="__middle"] .desktopMenu:before
    content: ""
    font-family: "Font Awesome 5 Free"
    color: #eb0028
    cursor: pointer
    font-size: 1.5rem
    margin-left: 5px

  header.viewSearch .search
    overflow: visible !important
    padding: 8px !important
    max-width: 100%

  .search
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    -webkit-transition: max-height 0.5s
    -moz-transition: max-height 0.5s
    -o-transition: max-height 0.5s
    -ms-transition: max-height 0.5s
    transition: max-height 0.5s
    max-height: 0
    overflow: hidden
    position: absolute
    background: #fff
    padding: 0 8px
    width: 100% !important
    top: 46px
    left: 0
    z-index: 10

    #search:focus
      outline: 0px

  body header.fixed [class*="__inferior"]
    display: block
    top: 0

  body .header__inferior
    top: 0
    z-index: -1
    -o-transition: 1s
    -ms-transition: 1s
    -moz-transition: 1s
    -webkit-transition: 1s
    transition: 1s

@media only screen and (max-width: 768px)
  .menuPrincipal
    li.login
      .box__login
        -moz-box-sizing: border-box
        -webkit-box-sizing: border-box
        box-sizing: border-box
        position: absolute !important
        //padding: 16px !important
        bottom: 50px !important
        right: -10px !important
        left: initial !important
        top: initial !important
        transform: none !important
        width: 250px
        &:before
          content: " "
          background: url(/img/tri.webp) no-repeat center
          position: absolute
          width: 100%
          height: 20px
          bottom: -14px
          left: 25px
          z-index: 160
          display: none
        a
          line-height: 1em
        .textoNuevo
          bottom: -10px
          position: relative
      .log:before
        top: -17px
        transform: rotate(180deg)