.row
    display: -ms-flexbox
    display: flex
    -ms-flex-wrap: wrap
    flex-wrap: wrap
    margin-right: -40px
    margin-left: -40px

    .second-level-navbar
        .list-group
            display: flex
            flex-direction: column
            padding-left: 0
            margin-bottom: 0
            margin-bottom: 1rem !important

            .list-group-items
                .item
                    color: #495057
                    padding: 0.2rem .5rem
                    font-size: .9rem
                    border: none
                    // position: relative
                    display: block
                    background-color: #fff

            .bold
                font-weight: 600
            .noborder *
                border-radius: 0 !important
            .list-group-title
                color: #000
                // padding: .75rem .5rem
                font-size: 1rem
                border-bottom: 2px solid #eb0028 !important
            h5
                text-transform: uppercase
                color: #000
                padding-top: .75rem
                padding-bottom: .75rem
                font-weight: 700
                border-bottom: 2px solid #eb0028

@media (min-width: 992px)
    .d-lg-block, #main-nav-lg
        display: block !important
