.mainSection
    margin: auto
    padding: 0

    .botonNext,.botonPrev
        display: block

    .spinner
        color: #6c757d!important
        display: block
        position: relative
        width: 50px
        height: 50px
        left: 45%
        margin-top: 60px
    .magazineTop
        width: 100%
        max-width: 100%
        height: auto
        margin: 0 auto
        padding-top: 20px

        .magazineTop .contImgSlider>a.slick-list,
        .magazineTop .contImgSlider>a:first-child,
        .magazineTop .contImgSlider>div.slick-list,
        .magazineTop .contImgSlider>div:first-child,
        .magazineTop .contImgSlider>span.slick-list,
        .magazineTop .contImgSlider>span:first-child
            display: block

        .magazineTop .contImgSlider>a,
        .magazineTop .contImgSlider>div,
        .magazineTop .contImgSlider>span
            display: none

        img
            width: 100% !important
            height: auto !important
            display: block
            max-height: 700px

        .slick-initialized
            .slick-slide
                display: block

        .slick-slider
            position: relative
            display: block
            box-sizing: border-box
            -webkit-user-select: none
            -moz-user-select: none
            -ms-user-select: none
            user-select: none
            -webkit-touch-callout: none
            -khtml-user-select: none
            -ms-touch-action: pan-y
            touch-action: pan-y
            -webkit-tap-highlight-color: transparent

            .slick-track,
            .slick-list
                -webkit-transform: translate3d(0, 0, 0)
                -moz-transform: translate3d(0, 0, 0)
                -ms-transform: translate3d(0, 0, 0)
                -o-transform: translate3d(0, 0, 0)
                transform: translate3d(0, 0, 0)

            .slick-list
                position: relative
                display: block
                overflow: hidden
                margin: 0
                padding: 0

                &:hover button[type="button"]
                    opacity: 1

            .slick-track
                position: relative
                top: 0
                left: 0
                display: block
                margin-left: auto
                margin-right: auto

                &:before, &:after
                    display: table
                    content: ''

            img
                display: block

        .slick-prev,
        .slick-next
            height: 75px!important
            padding: 20px 5px!important
            font-size: 0
            line-height: 0
            position: absolute
            top: 50%
            display: block
            width: 20px
            height: 20px
            padding: 0
            -webkit-transform: translate(0, -50%)
            -ms-transform: translate(0, -50%)
            transform: translate(0, -50%)
            cursor: pointer
            color: transparent
            border: none
            outline: none
            background: transparent

            -webkit-transition: opacity .2s
            -moz-transition: opacity .2s
            -o-transition: opacity .2s
            -ms-transition: opacity .2s
            transition: opacity .2s
            opacity: 0
            width: 42px
            height: 60px!important
            top: 52%
            margin-top: 0
            font-size: 0
            overflow: hidden
            padding: 15px 5px!important
            position: absolute!important
            outline: 0!important
            background-image: none!important
            z-index: 20

            &:before
                font-family: 'slick'
                font-size: 20px
                line-height: 1
                opacity: .75
                color: #fff
                -webkit-font-smoothing: antialiased
                -moz-osx-font-smoothing: grayscale
            &:before
                content: " "!important
                display: block
                width: 32px!important
                height: 32px!important
                margin: 0
                position: relative

        .slick-prev
            left: 0!important
            border-radius: 0 5px 5px 0!important
            background: rgba(0,0,0,.4)!important

            &:before
                content: '←'
                background: url(/img/flecha-back-32px.png) no-repeat!important

        .slick-next
            right: 0!important
            border-radius: 5px 0 0 5px!important
            background: rgba(0,0,0,.4)!important

            &:before
                content: '→'
                background: url(/img/flecha-next-32px.png) no-repeat!important

@media only screen and (min-width: 760px)
    .mainSection
        max-width: 1480px
        width: 95%

@media only screen and (max-width: 480px)
    .slick-slide, .SliderHomePrincipal, .slick-list
        width: 100%
        height: auto
        transform: translate3d(0px, 0px, 0px)