.mt-3
    margin-top: 1rem !important

    .img-fluid,
    #contenido-estatico img
        max-width: 100%
        height: auto
    .w-100
        width: 100% !important
    .spinner
        position: relative
        left: 42%
        display: block
        margin-top: 60px
        margin-bottom: 60px
        width: 50px
        height: 50px
.contenedor-textos
    margin-top: 25px
    .texto-credito
        font-size: 18px
        font-family: Arial, Helvetica, sans-serif

    .lista-credito
        li
            list-style: none
            span
                font-size: 15px
                font-family: Arial, Helvetica, sans-serif
                font-weight: 600

.forma-pago
    p
        font-size: 18px
        font-family: Arial, Helvetica, sans-serif
    ul
        margin-left: 12px
        li
            font-weight: 600
            font-family: Arial, Helvetica, sans-serif
            font-size: 15px

            img
                width: 62px
                height: 27px

@media only screen and (max-device-width: 767px)
    .forma-pago
        margin-bottom: 25%

@media only screen and (min-device-width: 768px) and (min-device-height: 1024px) 
    .forma-pago
        margin-bottom: 80px