.menuPreguntas
    .lista-menu-preguntas
        list-style: none
        margin-left: -40px
        padding-bottom: 3.5rem
        .display-4
            font-size: 1.5rem
            font-weight: 300
            line-height: 1.2
            a
                color: #007bff
                text-decoration: none
                background-color: transparent
                -webkit-text-decoration-skip: objects

    .display-3
        font-size: 2rem
        font-weight: 300
        line-height: 1.2
        text-transform: uppercase