.sec__Internas
  padding-bottom: initial
  padding-left: 60px
  // position: relative
  // bottom: 45px
  h1
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 8px 8px 16px
    display: table
    width: 100%
    font-size: 2rem
    line-height: 1.2
    font-weight: 300
  .container h1
    position: relative
    right: 75px

.mod__Interna
  padding-top: initial
  .contenedor
    display: inline-flex

  h2
    color: #da262d
    font-size: 1.3rem
    font-weight: 400 !important
    height: 50px
    padding: 8px 8px 16px
    height: auto

    &:after
      content: ""
      display: table
      clear: both

  .container
    display: -webkit-box
    display: -ms-flexbox
    webkit-display: -webkit-flex
    display: flex///////////////
    flex-direction: row
    -webkit-box-direction: row
    -ms-box-direction: row
    -ms-flex-direction: row

  .menu__Lateral
    width: 25%

    ul
      background: #fff
      color: #666
      border: 1px solid #ddd
      font-weight: 300
      padding: 0
      margin-left: 25px

      li
        list-style: none
        padding-left: 10px
        padding: 5px

        p
          margin: 0 !important
          color: #fff

        a
          color: inherit
          text-decoration: none
          font-size: 0.8rem
          //padding: 8px;
          display: block

          &:after
            content: ""
            font-family: "Font Awesome 5 Free"
            margin-left: 4px
            font-weight: 550

    li
      &:first-child
        background: #cc001e
        padding: 5px
        color: white
        padding-left: 10px

      .link
        color: inherit
        text-decoration: none
        font-size: 0.8rem
        // padding: 8px 8px;
        display: block
        display: inline-block

    .icon
      margin-left: 4px
      font-size: smaller

.info__Lateral,.menu__Lateral
  -webkit-box-sizing: border-box
  box-sizing: border-box
  padding: 8px

.info__Lateral
  width: 75%

  h2
    font-size: 1.5rem
    color: #222
    margin-bottom: 16px
    text-transform: initial !important

  h3
    margin-bottom: 8px
    font-size: 1.07rem
    margin-block-start: 1em
    margin-block-end: 1em
    margin-inline-start: 0px
    margin-inline-end: 0px

  p
    font-size: 0.9rem
    color: #666
    margin-bottom: 16px
    line-height: 1.1rem

  ul
    list-style: initial !important
    list-style-position: outside
    line-height: 1.2em
    margin-bottom: 16px
    margin-left: 0
    right: 22px
    position: relative

  ul,
  ol
    color: #666
    font-size: 0.9rem
    list-style-type: disc
    list-style-position: inside
    line-height: 1.2em
    margin-bottom: 16px

  ul li,
  ol li
    margin-bottom: 4px

h2
  font-size: 22px
  font-size: 1.375rem
  color: #fff
  font-weight: 500 !important
  padding: 16px 0 8px !important

h1
  display: inline-block

.contenedor
  max-width: 100% !important
  width: calc(100% - 40px)

@media only screen and (max-width: 760px)
  .mod__Interna .containers .menu__Lateral,
  .mod__Interna .containers .info__Lateral
    width: 100% !important
  .mod__Interna .containers
    display: inline !important

  .menu__Lateral
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding-right: 20px
    padding-left: 0

  .info__Lateral
    padding-right: 20px
    padding-left: 20px

@media only screen and (max-width: 768px)
  .mod__Interna .container
    flex-direction: column
    -webkit-box-direction: column
    -moz-box-direction: column
    -ms-box-direction: column
    -webkit-flex-direction: column
    -ms-flex-direction: column

@media only screen and (max-width: 760px)
  .mod__Interna .contenedor .info__Lateral, .mod__Interna .contenedor .menu__Lateral
    width: 100%

  .mod__Interna .contenedor
    display: inline
@media only screen and (max-width: 480px)
  .sec__Internas .container h1

  .container
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
    padding: 0 20px
