.contenedorServicios
    border: #c4c4c4
    border-style: solid
    border-width: thin

    .tiposServicios
        width: 100%
        background: #fff

        .letraServicio
            background: #000

            h6
                color: #fff
                padding-left: 10px
                padding-top: 5px
                padding-bottom: 5px

        ul
            background: none
            margin: 0
            padding: 0
            overflow: hidden
            display: inline
            // left: 20px

            li
                display: inline-block
                list-style: none
                padding: 10px 1%
                margin: 0
                width: 25%

                &:first-child
                    padding-left: 0
                &:last-child
                    padding-right: 0

        .divIzquierda
            display: inline-block

            img
                max-width: 100%
                height: auto
                width: auto

        .divDerecha
            position: relative
            display: inline-block
            left: 10px
            width: 51%

            p
                text-align: left  !important
                font-size: 16px
                white-space: nowrap
                // overflow: hidden
                white-space: initial
                position: relative
                vertical-align: center !important
                display: flex
                align-items: center

.contenedorDirectorio
    border: #c4c4c4
    border-style: solid
    border-width: thin

    .directorio
        width: 100%
        background: #fff

        .letraDirectorio
            background: #000

            h6
                color: #fff
                padding-left: 10px
                padding-top: 5px
                padding-bottom: 5px

        h3
            color: #000 !important

        ul
            background: none
            margin: 0
            padding: 0
            overflow: hidden
            display: inline
            left: 20px

            li
                display: inline-flex
                list-style: none
                padding: 10px 1%
                margin: 0
                width: 32%

                &:first-child
                    padding-left: 0

                &:last-child
                    padding-right: 0

                p
                    line-height: .9rem
                    width: 80%

                .contenedordivs
                    width: '100%'
                    display: 'inline-block'
                    white-space: 'nowrap'

        .textoDirectorio
            p
                text-align: left  !important
                font-size: 14px
                white-space: nowrap
                // overflow: hidden
                white-space: initial
                position: relative
                vertical-align: center !important
                display: flex
                align-items: center

@media only screen and (max-width: 1024px)
    .contenedorServicios .tiposServicios .divDerecha,
    .contenedorServicios .tiposServicios.divIzquierda
        display: block !important

@media only screen and ( max-width: 780px  )
    .contenedorDirectorio
        margin-bottom: 60px

@media only screen and (max-width: 760px)
    .contenedorServicios .tiposServicios ul
        background: none
        margin: 0
        padding: 5px
        // overflow: hidden
        display: inline
        // left: 20px

        li
            display: inline-block
            list-style: none
            padding: 10px 1%
            margin: 0
            width: 30%

@media only screen and (min-width: 701px)
    .contenedorServicios .tiposServicios ul, .contenedorDirectorio .directorio
        background: none
        margin: 0
        padding: 0
        display: inline
        left: 20px

@media only screen and (max-width: 700px)
    .contenedorServicios .tiposServicios ul li
        display: inline-block
        list-style: none
        padding: 10px 1%
        margin: 0
        width: 35%
        position: relative
        left: 12%

@media only screen and (max-width: 500px)
    .contenedorDirectorio .directorio
        width: 100%
        margin-bottom: 25px

        ul li
            display: inline-flex
            list-style: none
            padding: 10px 1%
            margin: 0
            width: 100%

    .contenedorServicios .tiposServicios

        .divDerecha p
            text-align: left !important
            font-size: 13px
            white-space: nowrap
            overflow: initial
            white-space: initial
            position: relative
            vertical-align: center !important
            display: inline-table //flex
            align-items: center

        ul li
            transform: translateX(calc((-10vw + 80%)/ 2))