.nhmetodospago 
  width: 100%
  text-align: center
  overflow: hidden
  margin-top: 20px

  span 
    color: #666
    font-size: 1rem
  
.mplogos 
  width: 95%
  max-width: 100%
  margin: 20px auto

  img 
    transition: all 0.3s !important
    display: inline-block
    height: 40px
    width: auto
    margin: 5px 30px
    -webkit-filter: grayscale(100%) contrast(50%) brightness(1.35)
    filter: grayscale(100%) contrast(50%) brightness(1.35) !important

    img,
    &:hover 
      -webkit-transition: all 0.3s !important
      -moz-transition: all 0.3s !important
      -o-transition: all 0.3s !important
      -ms-transition: all 0.3s !important
    

    &:hover 
      transition: all .3s !important
      -webkit-filter: grayscale(0) contrast(1) brightness(1) !important
      filter: grayscale(0) contrast(1) brightness(1) !important
  

//responsive
@media only screen and (max-width: 760px) 
  .nhmetodospago 
    width: 100%
    text-align: center
    overflow: hidden
    margin-top: 20px
  
  .mplogos 
    width: 95%
    margin: 20px auto
  
