.btn
    display: inline-block
    font-weight: 400
    text-align: center
    white-space: nowrap
    vertical-align: middle
    user-select: none
    border: 1px solid transparent
    padding: .375rem .75rem
    font-size: .9rem
    line-height: 1.5
    border-radius: .25rem
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
.link
     margin-bottom: 25px
     margin-top: 15px
.btn-sears
    color: #fff !important
    background-color: #eb0028
    border-color: #eb002
    &:before
        content: "\f56d"
        font-family: "Font Awesome 5 free"
        left: -5px
        font-size: 18px
        font-weight: 600
        position: relative
.p-titulo
    strong
        text-transform: uppercase
