section
    padding: 16px 0
    .container
        width: 100%
        max-width: 1326px
        margin: auto
        h1 
            display: inline-block
            webkit-box-sizing: border-box
            box-sizing: border-box
            padding: 8px 8px 16px
            display: table
            width: 100%
            font-size: 2rem
            line-height: 1.2
            font-weight: 300
    .panel-default
        .panel-body 
            .alert-warning1
                -moz-box-sizing: border-box
                -webkit-box-sizing: border-box
                box-sizing: border-box
                padding: 16px
                background: #f2f2f2
                border-radius: 5px
                margin-bottom: 32px
                line-height: 1.5
            &>form
                width: 80%
                display: table
                margin: auto
            form 
                .form-group
                    webkit-display: -webkit-flex
                    display: -webkit-flex
                    display: flex
                    align-items: center
                    -webkit-align-items: center
                    -ms-flex-align: center
                    width: 100%
                    margin-bottom: 16px
                    float: left
                    display: flex
                    label 
                        display: block
                        font-size: 1rem
                        margin-bottom: 4px
                        min-width: 60px
                    input
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        padding: 4px 8px
                        width: 100%
                    .btn-rojo
                        display: table
                        text-decoration: none
                        margin: 8px auto
                        padding: 8px 16px
                        -o-transition: all .3s
                        -ms-transition: all .3s
                        transition: all .3s
                        -moz-box-sizing: border-box
                        -webkit-box-sizing: border-box
                        box-sizing: border-box
                        margin-bottom: 10px
                        background-color: #EB0028
                        border: 1px solid #EB0028
                        text-decoration: none
                        padding: 8px 16px
                        color: #fff!important
                        font-weight: 300!important
                        border-radius: 50px!important
                        font-size: 13px!important
                        text-align: center!important
                        display: table
                        cursor: pointer
                        -webkit-transition: all .3s
                        -moz-transition: all .3s
                        &:hover
                            text-decoration: none
                            background-color: #B7202E
                            color: #fff!important
                            border: none
                            text-decoration: none!important
    &:after 
        content: ""
        display: table
        clear: both

@media only screen and (min-width: 761px)
    .container
        max-width: 1480px
        width: 95%
