#boton-ir-arriba
    -webkit-transition: all .3s ease
    -moz-transition: all .3s ease
    -o-transition: all .3s ease
    -ms-transition: all .3s ease
    transition: all .3s ease
    position: fixed
    cursor: pointer
    bottom: 40px
    right: 20px
    background: rgba(0,0,0,.7)
    width: 50px
    height: 50px
    display: none
    text-decoration: none
    border-radius: 5px
    z-index: 2010
    display: inline
    border: none
    &:after
        transition: all .3s
        -webkit-transition: all .3s
        -moz-transition: all .3s
        -o-transition: all .3s
        -ms-transition: all .3s
        content: '\f0de'
        font-size: 21px
        font-size: 1.4rem
        margin: 0
        color: #fff
        position: absolute
        left: 19px
        top: 13px
        line-height: 1.5
        font-family: 'font awesome 5 free'
        font-weight: 600
    &:hover
        background: rgba(0,0,0,.9)
    &:hover:after
        color: #fff
        top: 5px
    &:after
        -webkit-transition: all .3s
        -moz-transition: all .3s
        -o-transition: all .3s
        -ms-transition: all .3s