/*Footer terminos y condiciones*/

.lowerfooter 
  -webkit-box-sizing: border-box
  box-sizing: border-box
  background: #333 !important
  text-align: center
  width: 100%
  overflow: hidden
  padding: 10px 20px

  .legales 
    color: white
    font-size: 0.7rem
  
  a 
    font-weight: 300
    color: white;
    display: inline
    text-decoration: none

    &:hover 
      text-decoration: underline
    
  
  span 
    color: white
    font-weight: 300
    font-size: 0.8rem
    display: inline-block
    margin: 0 10px
  

@media only screen and (max-width: 320px) 
  .lowerfooter 
    padding: 16px 8px
  


@media only screen and (max-width: 480px) 
  .lowerfooter 
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box
  


@media only screen and (max-width: 780px) and (min-width: 481px) 
  .lowerfooter 
    padding: 10px 20px
  

@media only screen and (max-width: 960px) 
  .lowerfooter 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
