.registro-usuario
    max-width: 600px
    margin: auto
    .registro__usuarios.lb
        padding: 0
        .panel-primary 
            width: 100%
            background: 0 0
            border: none
            padding: 0

    .registro__usuarios
        line-height: 1.5rem
        h1
            -webkit-box-sizing: border-box
            box-sizing: border-box
            padding: 8px 8px 16px
            display: table
            width: 100%
            font-size: 2rem
            line-height: 1.2
            font-weight: 300
        .container
            width: 100%
            max-width: 1326px
            margin: auto
        .panel-primary 
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            width: 60%
            margin: 20px auto
            padding: 16px
            border: 1px solid #ddd
            background: #f2f2f2
            .panel-rs 
                margin-top: 0!important
                .btnRs 
                    text-align: center
                    .btn-blanco 
                        box-sizing: border-box
                        background-color: transparent
                        border: 1px solid transparent
                        color: #666!important
                        -moz-box-sizing: border-box
                        text-decoration: none
                        font-weight: 300!important
                        -webkit-box-sizing: border-box
                        border-radius: 50px!important
                        margin-bottom: 10px
                        font-size: 13px!important
                        text-align: center!important
                        display: table
                        padding: 8px 16px
                        cursor: pointer
                        &:after 
                            font-family: Font Awesome 5 Free
                            content: ""

            .ventana_emergente.active, 
            .ventana_sussess.active 
                display: inline-block
            .ventana_emergente, 
            .ventana_sussess 
                box-sizing: border-box
                display: none
                // padding: 8px 16px 8px 41.6px
                // background: #f2f2f2
                // border: 1px solid #DA262D
                margin: 0 0 12px
                width: 100%
                position: relative
                -moz-box-sizing: border-box
                -webkit-box-sizing: border-box
                & >.ico-alerta
                    float: left
                    position: absolute
                    transform: translateY(-50%)
                    top: 50%
                    left: 10px
            .panel-body 
                p 
                    margin-bottom: 16px
                    color: #333
                    text-align: left
                form, #formRegister
                    width: 100%
                    color: #333
                    .form-group 
                        float: left
                        width: 100%
                        margin-bottom: 8px
                        flex-direction: column
                        -webkit-box-direction: column
                        -moz-box-direction: column
                        -ms-box-direction: column
                        -webkit-flex-direction: column
                        -ms-flex-direction: column
                        webkit-display: -webkit-flex
                        display: -webkit-flex
                        display: flex
                        align-items: center
                        -webkit-align-items: center
                        -ms-flex-align: center
                        width: 100%
                        .checkbox 
                            .linkT
                                color: #666
                                font-weight: 300
                                // float: left
                                width: auto
                                vertical-align: middle
                                margin: 8px 5px
                                text-decoration: underline !important
                            label 
                                display: flex
                                flex-direction: row
                                -webkit-flex-direction: row
                                -ms-flex-direction: row
                                flex-wrap: nowrap
                                -webkit-box-wrap: nowrap
                                -webkit-flex-wrap: nowrap
                                -ms-flex-wrap: nowrap
                                color: #333
                                text-align: left
                                span 
                                    margin-top: 0
                                    float: none
                                    padding-left: 3px
                                    font-weight: 300
                                    font-size: .9rem
                                input
                                    float: none
                                input[type=checkbox] 
                                    -webkit-appearance: none
                                    background: #fff
                                    width: 20px
                                    height: 20px
                                input[type=checkbox]:checked 
                                    background: url(https://www.sears.com.mx/css/vector/icon-checked.svg) center no-repeat #fff
                        input
                            border-radius: 8px
                        input[type=email]
                            -moz-box-sizing: border-box
                            -webkit-box-sizing: border-box
                            box-sizing: border-box
                            width: 100%
                            border: 1px solid #DDD
                            font-size: .9rem
                            color: #666
                            padding: 8px!important
                            font-weight: 300
                        label 
                            font-size: .9rem
                            margin-bottom: 0
                            text-align: left
                            min-width: 60px
                        button:focus
                            outline: 0
                        .redBtn
                            transition: all .3s
                            box-sizing: border-box
                            border-radius: 50px!important
                            background-color: #EB0028
                            border: 1px solid #EB0028
                            &:hover
                                background-color: #B7202E!important
                                border: 1px solid #B7202E!important
                                color: #fff!important
                                text-decoration: none!important
                        .redBtn, .standardBtn
                            -webkit-transition: all .3s
                            -moz-transition: all .3s
                            -ms-transition: all .3s
                            margin-bottom: 10px
                            font-size: 13px!important
                            text-align: center!important
                            display: table
                            padding: 8px 16px
                            cursor: pointer
                        .btn-google, .redBtn
                            -webkit-box-sizing: border-box
                            text-decoration: none
                            font-weight: 300!important
                            color: #fff!important
                        
                    .form-group.middle-left 
                        float: left
                        width: 48%
                    .form-group.middle-right 
                        float: right
                        width: 48%
                // &>form
                //     width: 80%
                //     display: table
                //     margin: auto

.form-group
    float: left
    width: 100%
    margin-bottom: 8px
    flex-direction: column
    -webkit-box-direction: column
    -moz-box-direction: column
    -ms-box-direction: column
    -webkit-flex-direction: column
    -ms-flex-direction: column
    webkit-display: -webkit-flex
    display: -webkit-flex
    display: flex
    align-items: center
    -webkit-align-items: center
    -ms-flex-align: center
    width: 100%
.checkbox
    .linkT
        color: #666
        font-weight: 300
        float: left
        width: auto
        vertical-align: middle
        margin: 8px 5px
        text-decoration: underline !important
    label
        display: flex
        flex-direction: row
        -webkit-flex-direction: row
        -ms-flex-direction: row
        flex-wrap: nowrap
        -webkit-box-wrap: nowrap
        -webkit-flex-wrap: nowrap
        -ms-flex-wrap: nowrap
        color: #333
        text-align: left
        span
            margin-top: 0
            float: none
            padding-left: 3px
            font-weight: 300
            font-size: .9rem
        input
            float: none
            border-radius: 8px
        input[type=checkbox] 
            -webkit-appearance: none
            background: #fff
            width: 20px
            height: 20px
            &:checked
                background: url(https://www.sears.com.mx/css/vector/icon-checked.svg) center no-repeat #fff
        input[type=email]
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            width: 100%
            border: 1px solid #DDD
            font-size: .9rem
            color: #666
            padding: 8px!important
            font-weight: 300
    label 
        font-size: .9rem
        margin-bottom: 0
        text-align: left
        min-width: 60px
    button:focus
        outline: 0
.redBtn
    transition: all .3s
    box-sizing: border-box
    border-radius: 50px!important
    background-color: #EB0028
    border: 1px solid #EB0028
    &:hover
        background-color: #B7202E!important
        border: 1px solid #B7202E!important
        color: #fff!important
        text-decoration: none!important
.redBtn, .standardBtn
    -webkit-transition: all .3s
    -moz-transition: all .3s
    -ms-transition: all .3s
    margin-bottom: 10px
    font-size: 13px!important
    text-align: center!important
    display: table
    padding: 8px 16px
    cursor: pointer
.btn-google, .redBtn
    -webkit-box-sizing: border-box
    text-decoration: none
    font-weight: 300!important
    color: #fff!important
                        
.form-group.middle-left 
    float: left
    width: 48%
.form-group.middle-right 
    float: right
    width: 48%

@media only screen and (min-width: 761px)
    .container
        max-width: 1480px
        width: 95%