// Header
header
  z-index: 2010
  top: 0
  position: relative
  -webkit-box-sizing: border-box
  box-sizing: border-box
  width: 100%

.wrapper, section,.footer
  -webkit-box-sizing: border-box
  box-sizing: border-box
  width: 100%

h1, header [class^="header"], section section
  width: auto !important

// Body
.container
  margin: auto

// Footer
.nhfooter
  background-color: #fff !important
  width: 100%

.wrapper
  min-height: 550px !important
  background: #f5f2f1
  padding-top: 0 !important

.breadcrumb
  display: -ms-flexbox
  display: flex
  -ms-flex-wrap: wrap
  flex-wrap: wrap
  // padding: .75rem 1rem
  margin-left: 2%
  // margin-bottom: 1rem
  list-style: none
  background-color: #f5f2f1
  border-radius: .25rem
  font-size: .93333rem
.breadcrumb-item.active
  color: #212529

// ---------- responsive --------------
//  @media only screen and (max-width: 320){
//   .nhfooter {
//     padding-bottom: 20px;
//   }
// }

//  iphone 5
// @media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
//   .nhfooter {
//     padding-bottom: 10px;
//   }
// }

//  iphone 6, 7, 8
//  @media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
//   .nhfooter {
//     padding-bottom: 105px;
//   }
// }

//  iphone 6, 7, 8 plus
//  @media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
//   .nhfooter {
//     padding-bottom: 175px;
//   }
// }

//  iphone X
//  @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
//   .nhfooter {
//     padding-bottom: 250px ;
//   }
// }

// Ipad
//  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
//   .nhfooter {
//     padding-bottom: 465px ;
//   }
// }
// Ipad Pro
//  @media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {}
//  @media screen and (device-aspect-ratio: 3/4) {}

@media only screen and (max-width: 480px)
  header
    float: left

@media only screen and (min-width: 781px)
  body header .fixed
    top: 0 !important
    height: 76px !important

  // body header {
//  position: absolute!important;
  //  z-index: 2010;
  // }

@media only screen and (max-width: 780px)
  //  body {
  //   padding-bottom: 60px;
  //   overflow-x: hidden;
  // }

  .nhfooter
    position: relative
    bottom: 70px
