.container
    margin: auto

    .boxBan2
        -webkit-display: -webkit-flex
        display: -webkit-flex
        display: flex
        flex-direction: row
        -webkit-box-direction: row
        -moz-box-direction: row
        -ms-box-direction: row
        -webkit-flex-direction: row
        -ms-flex-direction: row
        flex-wrap: wrap
        -webkit-box-wrap: wrap
        -webkit-flex-wrap: wrap
        -ms-flex-wrap: wrap
        justify-content: space-between
        -webkit-justify-content: space-between
        -moz-justify-content: space-between
        -ms-flex-pack: space-between
        -ms-flex-pack: justify
        width: calc(100% + 20px)
        margin-left: -10px

        a
            max-width: 50%
            margin: 10px -1px
            color: inherit
            text-decoration: none
            overflow: hidden

        a,
        img,
            width: 100%
            position: relative

        img
            margin-bottom: -3px
            margin-left: 10px
            margin-right: 10px
            width: calc(100% - 20px)
.spinner
    color: #6c757d!important
    left: 50%
    position: relative
    width: 50px
    height: 50px
    margin-bottom: 50px
    margin-top: 50px
    display: block

@media only screen and (max-width: 760px)
    .boxBan2 a
        max-width: 100% !important

