header.fixed [class*="__middle"]
    border-bottom: 1px solid #DDD
    min-height: 45px

.registro-usuario 
    max-width: 600px
    margin: auto
    .registro__usuarios 
        line-height: 1.5rem
        .panel-primary 
            -moz-box-sizing: border-box
            -webkit-box-sizing: border-box
            box-sizing: border-box
            width: 60%
            margin: 20px auto
            padding: 16px
            border: 1px solid #ddd
            background: #f2f2f2
            .panel-body form .form-group.secondary .checkbox span, 
            .panel-rs 
                margin-top: 0!important
                .btnRs
                    text-align: center
                    float: left
                    .btn-blanco
                        box-sizing: border-box
                        background-color: transparent
                        border: 1px solid transparent
                        color: #666!important
                        -moz-box-sizing: border-box
                        text-decoration: none
                        font-weight: 300!important
                        -webkit-box-sizing: border-box
                        border-radius: 50px!important
                        margin-bottom: 10px
                        font-size: 13px!important
                        text-align: center!important
                        display: table
                        padding: 8px 16px
                        cursor: pointer
            .panel-body 
                .btn-rojo
                    background: #DA262D
                    display: table
                    text-decoration: none
                    margin: 8px auto
                    padding: 8px 16px
                    transition: all .3s
                    -moz-box-sizing: border-box
                    -webkit-box-sizing: border-box
                    box-sizing: border-box
                    background-color: #DF0209!important
                    font-size: 16px
                    text-align: center!important
                    text-decoration: none
                    display: table
                    border-radius: 50px
                    line-height: 1
                    cursor: pointer
                    border: 1px solid transparent
                    color: #fff!important
                    -webkit-transition: all .3s
                    -moz-transition: all .3s
                    -o-transition: all .3s
                    -ms-transition: all .3s
                    border-radius: 50px!important
                    font-size: 13px!important
                    text-align: center!important
                    display: table
                    cursor: pointer
                    &:hover
                        background: #B7202E!important
                        text-decoration: none
                p 
                    margin-bottom: 16px
                    color: #333
                    text-align: left
                form
                    width: 100%
                    color: #333
                    &>form
                        width: 80%
                        display: table
                        margin: auto
                    .ventana_emergente.active
                        display: inline-block
                    .ventana_emergente, .ventana_sussess
                        box-sizing: border-box
                        display: none
                        padding: 8px 16px 8px 41.6px
                        background: #f2f2f2
                        border: 1px solid #DA262D
                        margin: 0 0 12px
                        width: 100%
                        position: relative
                    .form-group.middle-left
                        float: left
                        width: 48%
                    .form-group.middle-right
                        float: right
                        width: 48%
                    .form-group.secondary
                        margin-bottom: 0!important
                        .checkbox label,
                        label
                            font-size: .9rem
                        .valid label 
                            margin-bottom: 16px
                            text-align: left
                    .form-group 
                        float: left
                        width: 100%
                        margin-bottom: 8px
                        flex-direction: column
                        -webkit-box-direction: column
                        -moz-box-direction: column
                        -ms-box-direction: column
                        -webkit-flex-direction: column
                        -ms-flex-direction: column
                        .checkbox 
                            .linkT 
                                color: #666
                                font-weight: 300
                                // float: left
                                width: auto
                                vertical-align: middle
                                margin: 8px 5px
                                text-decoration: underline !important
                            label
                                display: flex
                                flex-direction: row
                                -webkit-flex-direction: row
                                -ms-flex-direction: row
                                flex-wrap: nowrap
                                -webkit-box-wrap: nowrap
                                -webkit-flex-wrap: nowrap
                                -ms-flex-wrap: nowrap
                                color: #333
                                text-align: left
                                input[type=checkbox]:checked 
                                    background: url(https://www.sears.com.mx/css/vector/icon-checked.svg) center no-repeat #fff
                                input[type=checkbox] 
                                    -webkit-appearance: none
                                    background: #ffffff
                                    width: 20px
                                    height: 20px
                                a 
                                    color: #CC001E
                                    text-decoration: none
                                    display: inline-block
                                    width: auto
                                    float: left
                                    overflow: hidden
                                input, 
                                span .linkT
                                    float: none
                                span 
                                    margin-top: 0
                                    float: none
                                    padding-left: 3px
                                    font-weight: 300
                                    font-size: .9rem
                                    a
                                        text-decoration: underline
                                    .linkT 
                                        float: none

                                label 
                                    font-size: .9rem
                                    margin-bottom: 0
                                    text-align: left
                                    display: block
                                    font-size: 1rem
                                    margin-bottom: 4px
                                    min-width: 60px
                                input
                                    border-radius: 8px
                                    -moz-box-sizing: border-box
                                    -webkit-box-sizing: border-box
                                    box-sizing: border-box
                                    padding: 4px 8px
                                    width: 100%


    .registro__usuarios.lb
        padding: 0
        .panel-primary
            width: 100%
            background: 0 0
            border: none
            padding: 0
    h1 
        -webkit-box-sizing: border-box
        box-sizing: border-box
        padding: 8px 8px 16px
        display: table
        width: 100%
        font-size: 2rem
        line-height: 1.2
        font-weight: 300
    .container
        width: 100%
        max-width: 1326px
        margin: auto

@media only screen and (min-width: 761px)
    .container
        max-width: 1480px
        width: 95%
